<section class="apikeys p-40">
    <div 
    fxLayout="row" 
    fxLayoutAlign="start stretch" 
    >
<div fxFlex="30">
<img class="ApiKeyLogo"    src="assets/images/paynomix-logos/logo.svg">

</div>


   <div 
    fxLayout="column" 
    fxLayoutAlign="start stretch" 
    >     
<h1 class="font-size-36 ">API Key For <span class="text-bold">Paynomix</span></h1>
<p>
    1. Please wait for download to finish <br>
    2. Run PaynomixSetup to perform installation<br>
    3. Open QuickBooks Financials and start accepting payment and much more.<br>
    4. Get <span class="colorText">Activation Key </span>
    <br>
    <br>
    if your download does not start automatically, please <span class="colorText">try again </span>
</p>

</div>
    </div>
</section>
