<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<section class="table-responsive mat-card">
    <table mat-table [dataSource]="dataSource" matSort class="w-100-p">
      
        <!-- ResellerName Column -->
        <ng-container matColumnDef="ResellerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Reseller Name </th>
          <td mat-cell *matCellDef="let row"> {{row.ResellerName}} </td>
        </ng-container>
    
        <!-- DBAName Column -->
        <ng-container matColumnDef="DBAName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DBA Name</th>
          <td mat-cell *matCellDef="let row"> {{row.DBAName}}</td>
        </ng-container>
    
        <!-- TelephoneNumber Column -->
        <ng-container matColumnDef="TelephoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone Number </th>
          <td mat-cell *matCellDef="let row"> {{row.TelephoneNumber}} </td>
        </ng-container>
    
        <!-- Email Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.Email}} </td>
        </ng-container>

          <!-- Country Column -->
          <ng-container matColumnDef="Country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
            <td mat-cell *matCellDef="let row;let ri = index">          
                <ng-template [ngIf]="ri != showHoverAction" [ngIfElse]="ButtonsList">
                    {{row.Country}} 
                </ng-template>
                <ng-template #ButtonsList>
                    <div [@fadeIn]>
                        <mat-icon  class="iconsList"  matTooltip="Edit Reseller" [routerLink]="['/pages/reseller/reseller-edit', row.ResellerId]">edit</mat-icon>
                    </div>
              </ng-template>
            </td>
          </ng-container>   
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row  (mouseenter)="showHoverAction = i"  (mouseleave)="showHoverAction = -1" 
          *matRowDef="let row; columns: displayedColumns;let i = index">
          </tr>
        
    </table>
  </section>
