<mat-paginator [pageSize]="100" (page)="changePage($event)" 
    [length]="recordCount" [pageSizeOptions]="[100, 150, 200, 250]" class="ml-auto">
</mat-paginator>
<section class="table-responsive mat-card">
    <table mat-table [dataSource]="dataSource" matSort class="w-100-p">
      
         <!-- Partner Name Column -->
         <ng-container matColumnDef="PartnerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Partner </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.PartnerName" [matTooltipPosition]="'above'"> {{row.PartnerName || '--' | truncate : truncateTextLength }} </td>
        </ng-container>
        
        <!-- ResellerName Column -->
        <ng-container matColumnDef="ResellerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Reseller Name </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.ResellerName" [matTooltipPosition]="'above'"> {{row.ResellerName || '--' | truncate : truncateTextLength}} </td>
        </ng-container>

        <!-- Contact Person Column -->
        <ng-container matColumnDef="ContactPerson">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Person</th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.ContactPerson" [matTooltipPosition]="'above'"> {{row.ContactPerson || '--' | truncate : truncateTextLength }} </td>
        </ng-container>

         <!-- Email Column -->
         <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.Email" [matTooltipPosition]="'above'"> {{row.Email || '--' | truncate : truncateTextLength}} </td>
        </ng-container>

          <!-- TelephoneNumber Column -->
          <ng-container matColumnDef="TelephoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
            <td mat-cell *matCellDef="let row;let ind = index">          
                <ng-template [ngIf]="ind != actionControlOnHover" [ngIfElse]="actionControl">
                    <ng-template [ngIf]="row?.TelephoneNumber" [ngIfElse]="resellerPhone">
                      {{row.TelephoneNumber | mask: '(000) 000-0000'}} 
                    </ng-template>
                    <ng-template #resellerPhone>--</ng-template>
                </ng-template>
                <ng-template #actionControl>
                  <div [@fadeIn]>
                    <button mat-icon-button aria-label="edit" matTooltip="Edit Reseller" 
                    [routerLink]="['/pages/reseller/reseller-edit', row.ResellerId]"
                    >
                    <mat-icon >edit</mat-icon>
                   </button> 
                   <button mat-icon-button matTooltip="Resend Welcome Email" aria-label="resend"   
                   (click)="openDialog(row.ResellerId)">
                   <mat-icon>email</mat-icon> 
                   </button> 
                  </div>
       
              </ng-template>
            </td>
          </ng-container>   
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
          <tr mat-row  (mouseenter)="actionControlOnHover = i"  (mouseleave)="actionControlOnHover = -1" 
          *matRowDef="let row; columns: displayedColumns; let i = index">
          </tr>
        
    </table>
  </section>
