<div class="assigneeDialog dialog-content-wrapper">
    <mat-toolbar class="mat-accent">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title">Assign Pricing Plan to {{data?.AssignTo}}</span>
            <button mat-icon-button aria-label="Close dialog" (click)="_dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <ng-container *ngIf="data?.AssigneeList.length then assigneeTemplate; else nofound">
    </ng-container>



</div>

<!-- assigneeTemplate -->
<ng-template #assigneeTemplate>
    <div mat-dialog-content class="p-24" fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select [formControl]="selectedAssignee" [multiple]="data?.AssignMultiple" (selectionChange)="onChange()">
              <mat-option *ngFor="let item of data?.AssigneeList" [value]="item.id">
                  {{item.name}}
            </mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-chip-list>
            <mat-chip *ngFor="let item of selectedChips; let i = index"
              [removable]="true" (removed)="onRemoved(item.id, i)">
              {{ item.name }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
    <div mat-dialog-actions class="px-24 py-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button
        color="accent" 
        class="mr-8"
        aria-label="CLOSE" (click)="_dialogRef.close()">
            Close
        </button>    
        <button mat-stroked-button
        color="accent"
        class="save-button"
        aria-label="SAVE" (click)="assignPricingPlan()">
                Save
        </button>
    </div>

</ng-template>
<!-- / assigneeTemplate -->

<!-- no found template -->
<ng-template #nofound>
    <div mat-dialog-content class="p-24" fxLayout="column">
        <h2 class="text-center">No {{data?.AssignTo}} Found</h2>
        <span class="text-center">You haven't been assigned any Pricing Plan yet</span>
    </div>
</ng-template>
<!-- no found template -->
