<section fxLayout="column">
    <mat-toolbar>
     <span>Select Partner</span>
    </mat-toolbar>
    <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select [formControl]="toppingsControl" multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-chip-list>
        <mat-chip *ngFor="let topping of toppingsControl.value"
          [removable]="true" (removed)="onToppingRemoved(topping)">
          {{ topping }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
</section>