<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title">Select {{data?.AssignTo}}</span>
            <button mat-icon-button aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24">
        <form name="assigneeForm" fxLayout="column" fxFlex>
            <mat-form-field appearance="outline">
                <mat-label>Select</mat-label>
                <mat-select [formControl]="toppingsControl" multiple>
                  <mat-option *ngFor="let item of data?.AssigneeList" [value]="item.id">
                      {{item.name}}
                </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-chip-list>
                <mat-chip *ngFor="let topping of toppingsControl.value"
                  [removable]="true" (removed)="onToppingRemoved(topping)">
                  {{ topping }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>

        </form>

    </div>

    <div mat-dialog-actions class="px-24 py-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button
        color="accent" 
        class="mr-8"
        aria-label="CLOSE">
            Close
        </button>    
        <button mat-raised-button
        color="accent"
        class="save-button"
        aria-label="SAVE">
                Assign
        </button>
    </div>
</div>
