<section class="editPartner w-100-p">
    <h2>Edit Partner | {{partnerInfo?.PartnerName}}</h2>
    <hr />
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Partner Info">
            <app-partner-form [partnerDetail]="partnerInfo" (submitForm)="updatePartner($event)"></app-partner-form>
        </mat-tab>
        <mat-tab label="Pricing Plan">
           <app-pricing-plan-list [headerVisibility]="false" [getPricingPlanBy] = "{PartnerId: partnerInfo?.PartnerId}"></app-pricing-plan-list>
        </mat-tab>
    </mat-tab-group>
    
</section>