<section class="resellerList w-100-p">
    <section>
        <div fxLayout="row" fxFlex = "100">
        <div  fxFlex= "70" fxLayoutAlign="start center" >
        <h2>Resellers</h2>
      </div>
        <div  fxFlex= "30"  fxLayoutAlign="end center">
          <mat-toolbar>
            <div  [matMenuTriggerFor]="childComponentMenu?.menu">
              <button mat-icon-button 
                    >
                      <mat-icon>search</mat-icon>
              </button>
              <span  >Search Reseller</span>
            </div>
            <app-advanced-search  [data]="ResellerSearchField" (submitForm)="searchreseller($event)" #childComponentMenu="menuInOtherComponent" ></app-advanced-search>
            </mat-toolbar>
      
        </div>
      </div>
    </section>
    <hr />
    <div class="my-20" fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button color="accent" (click)="openSlidePanel();">
            <mat-icon>add</mat-icon>
            ADD NEW RESELLER
        </button>
    </div>
    <ng-template #renderingContainer></ng-template>
</section>