<section class="resellerList w-100-p">
    <section fxLayout="row" fxLayoutALign="space-between center">
        <h2>Resellers</h2>
        <div class="searchBox">
          
        </div>
    </section>
    <hr />
    <div class="my-20" fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button color="accent" [routerLink]="'/pages/reseller/reseller-create'">
            <mat-icon>add</mat-icon>
            ADD NEW RESELLER
        </button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="w-100-p mat-card">
      
        <!-- Reseller name Column -->
        <ng-container matColumnDef="resellerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Reseller Name </th>
          <td mat-cell *matCellDef="let row"> {{row.resellerName}} </td>
        </ng-container>
    
        <!-- DBA Name Column -->
        <ng-container matColumnDef="DBAName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DBA Name</th>
          <td mat-cell *matCellDef="let row"> {{row.DBAName}}%</td>
        </ng-container>
    
        <!-- Telephone Nummber Column -->
        <ng-container matColumnDef="TelephoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone Number </th>
          <td mat-cell *matCellDef="let row"> {{row.TelephoneNumber}} </td>
        </ng-container>
    
        <!-- Email Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.Email}} </td>
        </ng-container>
 
           <!-- Country Column -->
           <ng-container matColumnDef="Country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
            <td mat-cell *matCellDef="let row"> {{row.Country}} </td>
          </ng-container>                                     
         <!-- Action Column -->
         <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row"> 
            <mat-icon class="secondary-text">edit</mat-icon>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</section>