<section class="partnerForm">
    <div class="outer-layer mt-20 p-20">
        <form fxLayout="column" fxLayoutAlign="start"
        fxFlex="1 0 auto" name="form" [formGroup]="partnerForm">
    
            <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                    <mat-label>Partner Name</mat-label>
                    <input matInput formControlName="PartnerName" required>
                    <mat-error>Partner Name is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                    <mat-label>DBA Name</mat-label>
                    <input matInput formControlName="DBAName" >
                    <!-- <mat-error>DBA Name is required!</mat-error> -->
                </mat-form-field>
            </div>
            <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="FirstName" required>
                    <mat-error>First Name is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="LastName" required>
                    <mat-error>Last Name is required!</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                    <mat-label>Country</mat-label>
                  <mat-select formControlName="Country">
                    <mat-option [value]="item.code" *ngFor="let item of globalConfig?.locationConfig?.countries">{{item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                    <mat-label>Street Address</mat-label>
                    <textarea matInput formControlName="Address1" required></textarea>
                    <mat-error>Street Address is required!</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="City" required>
                    <mat-error>City Name is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                    <mat-label>States</mat-label>
                    <mat-select formControlName="State" >
                        <mat-option [value]="item.name" *ngFor="let item of globalConfig?.locationConfig?.states">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                    <mat-label>Zip / Postal Code</mat-label>
                    <input matInput formControlName="Zip"  numberOnly [maxlength]="globalConfig?.validator?.zipMaxLength" required>
                    <mat-error>Postal is required!</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                    <mat-label> Email</mat-label>
                    <input matInput formControlName="Email" nospace required>
                    <mat-error>Email is required!</mat-error>
                </mat-form-field>
               
            </div>
            <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="Phone" >
                    <mat-error>Phone Number is required!</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" type="number" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                    <mat-label>Alternate Phone</mat-label>
                    <input matInput formControlName="AlternatePhone" >
                    <!-- <mat-error>Alternate Phone is required!</mat-error> -->
                </mat-form-field>
               
            </div>
            <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
               
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                    <mat-label> Website Url</mat-label>
                    <input matInput formControlName="WebsiteUrl"type="url" nospace required>
                    <mat-error> Website Url is required!</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                    <mat-label>Tax ID </mat-label>
                    <input nospace matInput formControlName="TaxId" >
                    <!-- <mat-error>Tax Id is required!</mat-error> -->
                </mat-form-field>
            </div>
            <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                    <mat-label>Exchange Rate (%) </mat-label>
                    <input matInput formControlName="ExchangeRateMarkup" numberOnly >
                    <mat-hint>This rate markup is used when currencies must be converted. It has no effect on transaction reporting.</mat-hint>
                    <!-- <mat-error>Exchange Rate is required!</mat-error> -->
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                    <mat-label>Default Settlement Currency</mat-label>
                    <input matInput formControlName="DefaultSettlementCurrency" required>
                    <mat-error>Default Settlement Currency is required!</mat-error>
                </mat-form-field>
            </div>
           

            <div fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center" fxLayout="column" fxLayoutAlign="space-between stretch">
                <button mat-raised-button class="my-4" color="accent" [ngClass.sm]="'mr-4'" [ngClass.gt-sm]="'mr-4'"
                aria-label="Cancel" [routerLink]="'/pages/partner/partner-list'">
                Cancel
                </button>
                <button mat-raised-button class="my-4" [ngClass.sm]="'ml-4'" [ngClass.gt-sm]="'ml-4'" color="accent" aria-label="Submit" [disabled]="partnerForm.invalid" (click)="submit()">
                Submit
                </button>
            </div>

      </form>
    </div>
</section>