<section class="inactive">
    
    
    <div fxLayout="row" fxLayoutAlign="space-around center" class="p-40">

<div fxFlex="50" class="ml-100">
<h1 class="font-size-60">Uh-oh...</h1>
<h3 class="font-size-30 font-weight:600">Account not Active</h3>
<p>For any support or queries, kindly contant<br>
support@paynomix.com</p>

<button>Logout</button>
</div>

<div fxFlex="50">

<img width="50%" src="https://www.pngitem.com/pimgs/m/37-375181_ad-blips-cartoon-man-and-woman-talking-clip.png">

</div>

    </div>

</section>