<section class="inactive">
    
    
    <div fxLayout="row" fxLayoutAlign="space-around center" class="p-40">

<div fxFlex="40" class="ml-100 mt-100">
<h1 class="font-size-60">Uh-oh...</h1>
<h3 class="font-size-30 font-weight:600"><b>Account not Active</b></h3>
<p>For any support or queries, kindly contant<br>
<a>support@paynomix.com</a></p>

<button mat-raised-button  aria-label="Logout"
     >
        Logout
</button>
</div>

<div fxFlex>

<img class="inactiveimg" src="assets/images/inactive.svg">

</div>

    </div>

</section>