.inactive{
background-color:white;

.heading{
font-size:75px;
font-weight:600;
}
.subheading{
    margin-top:-60px;
font-size:31px;
font-weight:600;
}
.logoutBtn{
    border-radius:20px;width:110px;
}

}