.transactionTable{
    .table-responsive{
        max-height: unset !important;
            table{
                thead{
                        tr{
                            th{
                                z-index: 101 !important;
                                &:nth-child(2){
                                z-index: 102 !important;
                                    mat-checkbox{
                                    vertical-align: super;
                                    }
                                }
                               
                            }
                        }
            
                }
                tbody{
                    tr{
                        &.expanded {
                            & + .refund-row{
                                min-height: auto;
                                overflow: visible;
                            }
                        }
                        &.expandedDetail {
                            & + * + .detail-row{
                                min-height: auto;
                                overflow: visible;
                            }
                        }
                        &:not(.expanded){
                            & + .refund-row{
                               display: none;
                            }
                        }
                        &:not(.expandedDetail){
                            & + * + .detail-row{
                                display: none;
                             }   
                        }
                        td{
                            &:nth-child(2){
                                mat-checkbox{
                                    vertical-align: super;
                                }
                            }
                        }
                        
                    }
                }
            }
            .expandedRefundDetail{
                table{
                    thead{
                        tr{
                            th{
                                z-index: 100 !important;
                                &:nth-child(2){
                                z-index: 100 !important;
                                }
                            }
                        }
            
                }  
                }
            }
        }
         
     
   
       
}


