<section class="transactionTable">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button (click)="openRefundDialog()" *ngIf="showRefund" mat-raised-button class="accent">
      Refund(s)
    </button>
    <mat-paginator [pageSizeOptions]="[100, 150, 200, 250]" class="ml-auto"></mat-paginator>
  </div>


  <div class="table-responsive mat-card">
    <table mat-table [dataSource]="dataSource" matSort class="w-100-p" multiTemplateDataRows>


      <!-- Refund Table -->
      <ng-container matColumnDef="expandedRefundDetail">
        <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail expandedRefundDetail"
            [@detailExpandRefund]="row == expandedRefundDetail ? 'expanded' : 'collapsed'" style="height: 100% !important; width:100%">
            <table mat-table #table class="w-100-p" [dataSource]="row.Refund"
              *ngIf="row.Refund && row.Refund.length && expandedRefundDetail">

              <!--  Transaction ID Column -->
              <ng-container matColumnDef="TransactionId">
                <th mat-header-cell *matHeaderCellDef>Transaction Id</th>
                <td mat-cell *matCellDef="let row">{{row.TransactionId ||'--'}}</td>
              </ng-container>
              <!--  Transaction Type Column -->
              <ng-container matColumnDef="TransactionType">
                <th mat-header-cell *matHeaderCellDef>Trans. Type</th>
                <td mat-cell *matCellDef="let row">{{
                    (row.TransactionType ==  transType.CreditCardVoid) ?  'CC - Void ' : 
                    (row.TransactionType ==  transType.CreditCardSale) ?  'CC - Sale ' :  
                    (row.TransactionType == transType.CreditCardAuth) ? 'CC - Auth '  :  
                    (row.TransactionType ==  transType.CreditCardFund) ? 'CC - Fund' : 
                    (row.TransactionType ==  transType.CreditCardRefund) ? 'CC - Refund' : 
                    (row.TransactionType ==  transType.CreditCardCapture) ? 'CC - Capture' : 
                    (row.TransactionType ==  transType.ACHDebit) ? 'ACH - Debit' : 
                    (row.TransactionType ==  transType.ACHRefund) ? 'ACH - Refund' : 
                    'ACH - Void '}}</td>
              </ng-container>
              <!--  Transaction Amount Column -->
              <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let row">{{row.Amount | currency}}</td>
              </ng-container>
              <!--  Transaction InsertedOn Column -->
              <ng-container matColumnDef="InsertedOn">
                <th mat-header-cell *matHeaderCellDef>Updated On</th>
                <td mat-cell *matCellDef="let row">
                  {{row.InsertedOn | date: 'medium'}}
                </td>
              </ng-container>
              <!--  Transaction status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let row">
                  <mat-chip-list>
                    <mat-chip class="py-4 px-16 fuse-white-fg" [ngClass]="(data?.Status == transStatus.declined ) ?  'red-600' : 
                        (data?.Status ==  transStatus.funded) ? 'blue-700' : 
                        'green-400'">
                      <small>
                        {{(data?.Status == transStatus.declined ) ?  'Declined' : 
                          (data?.Status ==  transStatus.funded) ? 'Funded' : 
                          'Approved'}}
                      </small>
                    </mat-chip>
                  </mat-chip-list>
                </td>
              </ng-container>

              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let row">
                  <!-- <button mat-icon-button>
                        <mat-icon class="secondry-text">email</mat-icon>
                      </button> -->
                  <button mat-icon-button (click)="printReceipt(row)">
                    <mat-icon class="secondry-text">print</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="RefundDisplayedColumns; sticky:true;">
              </tr>
              <tr mat-row *matRowDef="let row; columns: RefundDisplayedColumns;">
              </tr>
            </table>

          </div>
        </td>
      </ng-container>

      <!-- Expanded Details -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail expandedDetail" style="height: 100% !important;"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
            *ngIf="expandedElement ">
            <div fxLayout="row wrap p-4" fxLayoutAlign="space-evenly center" >
              <div fxFlex ><b>AuthCode:</b> {{element.AuthCode ? element.AuthCode:' ---'}}
              </div>
              <div fxFlex ><b>Bin: </b> {{element.Bin ? element.Bin:' ---'}}</div>
              <div fxFlex ><b>AVSDetail:</b> {{element.AVSDetail ? element.AVSDetail:' ---'}}</div>
              <div fxFlex ><b>Entry Type: </b>{{element.EntryType ? element.EntryType:' ---'}}</div>
              <div fxFlex ><b>Type: </b> {{element.PaymentType ? element.PaymentType:' ---'}}</div>
              <div fxFlex ><b>Doc No#: </b> {{element.InvoiceNo ? element.InvoiceNo:' ---' }}</div>
            </div>
          </div>

        </td>
        <hr>
      </ng-container>

      <!--  Transaction refund Column -->
      <ng-container matColumnDef="Icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button *ngIf="row?.Refund?.length" (click)=" 
              expandedRefundDetail = expandedRefundDetail === row ? null : row; 
              expandedElement = null; $event.stopPropagation();">
            <mat-icon class="accent-fg">
              <ng-container *ngIf="expandedRefundDetail === row; else otherIcon">
                remove
              </ng-container>
              <ng-template #otherIcon>
                add
              </ng-template>
            </mat-icon>
          </button>
        </td>
      </ng-container>
      <!--  Transaction Selection Column -->
      <ng-container matColumnDef="Select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null; selectRefundElement(row)"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!--  Transaction Id Column -->
      <ng-container matColumnDef="TransactionId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trans. ID </th>
        <td mat-cell *matCellDef="let row"> {{row.TransactionId}} </td>
      </ng-container>

      <!--  Transaction Type Column -->
      <ng-container matColumnDef="TransactionType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Trans. Type</th>
        <td mat-cell *matCellDef="let row">{{
                (row.TransactionType ==  transType.CreditCardVoid) ?  'CC - Void ' : 
                (row.TransactionType ==  transType.CreditCardSale) ?  'CC - Sale ' :  
                (row.TransactionType == transType.CreditCardAuth) ? 'CC - Auth '  :  
                (row.TransactionType ==  transType.CreditCardFund) ? 'CC - Fund' : 
                (row.TransactionType ==  transType.CreditCardRefund) ? 'CC - Refund' : 
                (row.TransactionType ==  transType.CreditCardCapture) ? 'CC - Capture' : 
                (row.TransactionType ==  transType.ACHDebit) ? 'ACH - Debit' : 
                (row.TransactionType ==  transType.ACHRefund) ? 'ACH - Refund' : 
                'ACH - Void '}}</td>
      </ng-container>
      <!-- Inserted On Column -->
      <ng-container matColumnDef="InsertedOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Time </th>
        <td mat-cell *matCellDef="let row" [matTooltip]="row?.InsertedOn | date: 'medium'"
          [matTooltipPosition]="'above'"> {{row.InsertedOn | date: 'medium'}} </td>
      </ng-container>
      <!-- Trans. Amount Column -->
      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trans. Amount </th>
        <td mat-cell *matCellDef="let row" [matTooltip]="row?.Amount | currency" [matTooltipPosition]="'above'">
          {{row.Amount | currency}}</td>
      </ng-container>
      <!-- Marchant Name Column -->
      <ng-container matColumnDef="MerchantName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Marchant Name </th>
        <td mat-cell *matCellDef="let row" [matTooltip]="row?.MerchantName" [matTooltipPosition]="'above'">
          {{row?.MerchantName || '--'}}</td>
      </ng-container>
      <!--  Status  Column -->
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> {{
                  (row.Status == transStatus.declined ) ?  'Declined' : 
                  (row.Status ==  transStatus.approved) ?  'Approved' :  
                  (row.Status == transStatus.pending) ? 'Pending'  :  
                  (row.Status ==  transStatus.funded) ? 'Funded' : 
                  'Refund' }}</td>
      </ng-container>
      <!--  Cardholder Name Column -->
      <ng-container matColumnDef="CardholderName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cardholder Name </th>
        <td mat-cell *matCellDef="let row;let ind = dataIndex">
          <ng-template [ngIf]="ind != actionControlOnHover" [ngIfElse]="actionControl">
            {{row.CardholderName || '--'}}
          </ng-template>
          <ng-template #actionControl>
            <button mat-icon-button aria-label="detail" matTooltip="Transaction Details"
              [routerLink]="['/pages/transaction/transaction-detail', row.TransactionId]" [@fadeIn]>
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </ng-template>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row (mouseenter)="actionControlOnHover = i" (mouseleave)="actionControlOnHover = -1"
        *matRowDef="let row; columns: displayedColumns; let i = dataIndex"
        [class.expanded]="expandedElement == row || expandedRefundDetail == row"
        (click)="expandedElement = expandedElement === row ? null : row; expandedRefundDetail = null"></tr>
      <tr mat-row class="example-detail-row detail-row" *matRowDef="let row; columns: ['expandedDetail']"
      style="overflow: hidden;"> </tr>
     
      <tr mat-row class="example-detail-row refund-rows" *matRowDef="let row; columns: ['expandedRefundDetail']" style="overflow: hidden; visibility: hidden;"></tr>
    </table>
  </div>
</section>

<ng-template #refundDialog>
  <div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title">Refund</span>
        <button mat-icon-button aria-label="Close dialog" (click)="dialogRef.close()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0">
      <form name="refundForm" fxLayout="column" [formGroup]="refundForm">
        <mat-form-field appearance="outline">
          <mat-label>Transaction Amount</mat-label>
          <input type="TransactionAmount" matInput formControlName="TransactionAmount" currencyMask
            [options]="{ align: 'left', prefix: '$' }" required>
          <mat-error>Transaction Amount is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Amount To Refund</mat-label>
          <input type="Amount" matInput formControlName="Amount" currencyMask [options]="{ align: 'left', prefix: '$' }"
            required>
          <mat-error *ngIf="refundForm.get('Amount').hasError('required')">Amount To Refund is required</mat-error>
          <mat-error *ngIf="refundForm.get('Amount').hasError('amountExceed')">Amount should not exceed from transaction
            amount</mat-error>
        </mat-form-field>
      </form>
      <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button class="mr-8 accent-alpha-bg" aria-label="Cancel" (click)="dialogRef.close()">
          Cancel
        </button>
        <button mat-raised-button color="accent" aria-label="Refund"
          [disabled]="refundForm.invalid || !refundForm.controls['Amount'].value" (click)="refund()">
          Refund
        </button>
      </div>
    </div>


  </div>
</ng-template>