<section class="mt-20 userTable">
<mat-paginator [pageSizeOptions]="[100, 150, 200, 250]"></mat-paginator>
  <div class="table-responsive mat-card">
    <table mat-table [dataSource]="dataSource" matSort class="w-100-p">
        <!-- First Name Column -->
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.FirstName" [matTooltipPosition]="'above'"> {{row.FirstName  || '--' | truncate:truncateTextLength}} </td>
        </ng-container>
        <!-- Last Name Column -->
        <ng-container matColumnDef="LastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.LastName" [matTooltipPosition]="'above'"> {{row.LastName || '--' | truncate:truncateTextLength }} </td>
        </ng-container>
    
        <!-- User Name Column -->
        <ng-container matColumnDef="Username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.Username" [matTooltipPosition]="'above'"> {{row.Username || '--' |truncate:truncateTextLength}}</td>
        </ng-container>
    
        <!-- Phone Column -->
        <ng-container matColumnDef="Phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.Phone" [matTooltipPosition]="'above'">
            <ng-template [ngIf]="row?.Phone" [ngIfElse]="usersPhone" >
              {{row.Phone | mask: '(000) 000-0000'}}
            </ng-template> 
            <ng-template #usersPhone >--</ng-template>
            </td>
        </ng-container>

        <!-- User Role Column -->
        <ng-container matColumnDef="Role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> User Role </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.Role" [matTooltipPosition]="'above'"> {{row.Role |truncate:truncateTextLength}} </td>
        </ng-container>

        <!-- Last Login Column -->
        <ng-container matColumnDef="LastLogin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Login </th>
          <td mat-cell *matCellDef="let row; let ind = index"> 
             <ng-template [ngIf]="ind != actionControlOnHover" [ngIfElse]="actionControl">
               <ng-template [ngIf]="row?.LastLogin" [ngIfElse]="other">
              {{row.LastLogin | date : 'MM/dd/yyyy HH:mm:ss a'}}
             </ng-template>
             <ng-template #other>--</ng-template>
            </ng-template>
            <ng-template #actionControl>
                <button (click)="openDialog(row)" mat-icon-button aria-label="edit" matTooltip="Edit User" [@fadeIn]>
                  <mat-icon>edit</mat-icon>
                </button>
          </ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row  (mouseenter)="actionControlOnHover = i"  (mouseleave)="actionControlOnHover = -1" 
        *matRowDef="let row; columns: displayedColumns; let i = index">
        </tr>
    </table>
    </div>
</section>
<ng-template #userDialog>
    <div class="dialog-content-wrapper">
        <mat-toolbar class="mat-accent">
            <mat-toolbar-row  fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title">Update User</span>
                <button mat-icon-button aria-label="Close dialog" (click)="dialogRef.close()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div mat-dialog-content class="p-24 mx-0"> 
            <form fxLayout="column" name="form" [formGroup]="userForm">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="FirstName" required [maxlength]="validator?.maxName">
                    <mat-error *ngIf="userForm.get('FirstName').hasError('required')"> First name is required</mat-error>
                    <mat-error *ngIf="!userForm.get('FirstName').hasError('required') && userForm.get('FirstName').hasError('maxlength')"> First name should have maximum value is {{validator?.maxName}}</mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="LastName" required [maxlength]="validator?.maxName">
                    <mat-error *ngIf="userForm.get('LastName').hasError('required')"> Last name is required</mat-error>
                    <mat-error *ngIf="!userForm.get('LastName').hasError('required') && userForm.get('LastName').hasError('maxlength')"> Last name should have maximum value is {{validator?.maxName}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput readonly formControlName="Username" required>
                    <mat-error>User name is required</mat-error>
                </mat-form-field> 

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="Email" required>
                    <mat-error>Email is required</mat-error>
                </mat-form-field> 

                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput  mask="(000) 000-0000"  formControlName="Phone" required>
                    <mat-error>Phone is required</mat-error>
                </mat-form-field>
            </form>
        </div>

        <div mat-dialog-actions class="px-24 my-12" fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button class="mr-8 accent-alpha-bg" aria-label="Cancel" (click)="dialogRef.close()">
                Cancel
            </button>
            <button mat-raised-button color="accent" aria-label="Update User" [disabled]="userForm.invalid" (click)="updateUser()">
                Update User
            </button>
        </div>
    </div>
</ng-template>