<section class="users mt-20">
  <section class="table-responsive mat-card">
    <table mat-table [dataSource]="dataSource" matSort class="w-100-p">
        <!-- First Name Column -->
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let row"> {{row.FirstName || '--'}} </td>
        </ng-container>
        <!-- Last Name Column -->
        <ng-container matColumnDef="LastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row"> {{row.LastName || '--'}} </td>
        </ng-container>
    
        <!-- User Name Column -->
        <ng-container matColumnDef="Username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
          <td mat-cell *matCellDef="let row"> {{row.Username}}</td>
        </ng-container>
    
        <!-- Phone Column -->
        <ng-container matColumnDef="Phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
          <td mat-cell *matCellDef="let row"> {{row.Phone || '--'}}</td>
        </ng-container>

        <!-- User Role Column -->
        <ng-container matColumnDef="Role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> User Role </th>
          <td mat-cell *matCellDef="let row"> {{row.Role}} </td>
        </ng-container>
        <!-- Last Login Column -->
        <ng-container matColumnDef="LastLogin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Login </th>
          <td mat-cell *matCellDef="let row"> 
            <ng-template [ngIf]="row?.LastLogin" [ngIfElse]="other">
              {{row.LastLogin | date : 'medium'}}
            </ng-template>
            <ng-template #other>--</ng-template>
          </td>
        </ng-container>
        
        <!-- Action Column -->
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button (click)="openDialog()">
              <mat-icon class="secondary-text">edit</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
</section>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</section>


<ng-template #userDialog>
  <div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title">Send Merchant Link</span>
            <button mat-icon-button  aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="m-0">
        <form name="userForm" fxLayout="column"  [formGroup]="userForm">
            <mat-form-field appearance="outline">
                <mat-label>To</mat-label>
                <input type="email" matInput formControlName="SendTo"  required>  
            </mat-form-field> 
            <mat-form-field appearance="outline">
                <mat-label>CC</mat-label>
                <input type="email" matInput formControlName="Cc" >  
            </mat-form-field> 
            <mat-form-field appearance="outline">
                <mat-label>Bcc</mat-label>
                <input  type="email" matInput formControlName="Bcc" >  
            </mat-form-field> 
            <mat-form-field appearance="outline">
            <mat-label>Subject</mat-label>
            <input matInput formControlName="Subject" readonly required>  
            </mat-form-field>  
            <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                <mat-label>Message</mat-label>
                <textarea matInput rows="5" readonly>
          Hello,

          Thank you for signing up on Paynomix Inc. You’re almost ready to go! 
          Please fill out your application to complete the boarding process by
          clicking the following link.
          Launch Application
          We appreciate the opportunity to work with you.
          Paynomix Team.
                </textarea> 
            </mat-form-field>

        </form>
    </div>

    <div mat-dialog-actions class="px-24 my-12" fxLayout="row" fxLayoutAlign="end center">
        <button mat-stroked-button color="accent" class="mr-8" aria-label="CLOSE" (click)="_dialogRef.close()">
            Close
        </button>    
        <button mat-stroked-button color="accent" class="save-button" aria-label="SAVE" (click)="sendEmail()">
            Send
        </button>
    </div>
</div>

</ng-template>