<section class="ownerDetail">

    <form fxLayout="column" fxLayoutAlign="start"
    fxFlex="1 0 auto" name="form" [formGroup]="ownerDetailForm">
   
    <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex.gt-sm="33" fxFlex.sm="33" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
            <mat-label>First name</mat-label>
            <input matInput formControlName="FirstName" required >
            <mat-error>First name is required!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex.gt-sm="34" fxFlex.sm="34" [ngClass.sm]="['pr-4', 'pl-4']" [ngClass.gt-sm]="['pr-4', 'pl-4']">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="LastName" required >
            <mat-error>Last Name is required!</mat-error>
        </mat-form-field>
       
        <mat-form-field appearance="outline" fxFlex.gt-sm="33" fxFlex.sm="33" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
            <mat-label>DOB</mat-label>
            <input matInput formControlName="DOB" [matDatepicker]="picker" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>DOB is required!</mat-error>
          </mat-form-field>
    </div>

    <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex.gt-sm="33" fxFlex.sm="33" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
            <mat-label>SSN </mat-label>
            <input matInput formControlName="SSN" >
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex.gt-sm="34" fxFlex.sm="34" [ngClass.sm]="['pr-4', 'pl-4']" [ngClass.gt-sm]="['pr-4', 'pl-4']">
            <mat-label>Drivers License </mat-label>
            <input matInput formControlName="DrivingLicense" >
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex.gt-sm="33" fxFlex.sm="33" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
            <mat-label>DL State</mat-label>
            <input matInput formControlName="DLState" >
        </mat-form-field>
    </div>

    <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
            <mat-label>Street Address </mat-label>
            <input matInput formControlName="Address1" required  >
            <mat-error>Street Address is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
            <mat-label>Street Address Line 2</mat-label>
            <input matInput formControlName="Address2" >
        </mat-form-field>
    </div>

    <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
            <mat-label>City </mat-label>
            <input matInput formControlName="City"  required>
            <mat-error> City is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
            <mat-label>State</mat-label>
            <mat-select formControlName="State" required>
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
            <mat-error> State is required!</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex.gt-sm="33" fxFlex.sm="33" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
            <mat-label>Zip Code</mat-label>
            <input matInput formControlName="Zip" required >
            <mat-error> Zip Code is required!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex.gt-sm="34" fxFlex.sm="34" [ngClass.sm]="['pr-4', 'pl-4']" [ngClass.gt-sm]="['pr-4', 'pl-4']">
            <mat-label>Owner's Email</mat-label>
            <input matInput formControlName="Email" >
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex.gt-sm="33" fxFlex.sm="33" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
            <mat-label>Owner's Phone </mat-label>
            <input matInput formControlName="Phone" required  mask="(000) 000-0000" >
            <mat-error> Owner's Phone is required!</mat-error>
        </mat-form-field>
    </div>


        <div fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center" fxLayout="column" fxLayoutAlign="space-between stretch">
            <button mat-raised-button matStepperPrevious class="my-4" color="accent" [ngClass.sm]="'mr-4'" [ngClass.gt-sm]="'mr-4'"
            aria-label="Previous">
            Previous
            </button>
            <button mat-raised-button matStepperNext class="my-4" [ngClass.sm]="'ml-4'" [ngClass.gt-sm]="'ml-4'" color="accent" 
                aria-label="Next">
            Next
            </button>
        </div>

  </form>
</section>