<section class="userList w-100-p">
    <section fxLayout="row" fxLayoutALign="space-between center">
        <h2>Transaction</h2>
        <div class="searchBox">
          
        </div>
    </section>
    <hr />
    <section class="transactionGrid" fxLayout="column" fxLayoutAlign="space-between center"
    fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
    
        <!-- Approved Transaction -->
        <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
            <div class="mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                <div class="p-16 " fxLayout="column" fxLayoutAlign="center center">
                        <div class="h3 secondary-text">Approved</div>
                        <div class="font-size-36 font-weight-500 line-height-1 mt-8">
                            {{transactionType.Approved || 0 | currency}}

                        </div>
                </div>
            </div>
        </div>
        <!-- / Approved Transaction -->

        <!-- Refunds Transactions -->
        <div class="widget" fxFlex="100" fxFlex.gt-sm="34">
            <div class="mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                <div class="p-16 " fxLayout="column" fxLayoutAlign="center center">
                        <div class="h3 secondary-text">Refunds</div>
                        <div class="font-size-36 font-weight-500 line-height-1 mt-8">
                            {{transactionType.Refunds || 0 | currency}}

                        </div>
                </div>
            </div>
        </div>
        <!-- / Refunds Transactions -->

        <!-- Declined Transactions -->
        <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
            <div class="mb-32">
                <div class="p-16" fxLayout="column" fxLayoutAlign="center center">
                        <div class="h3 secondary-text">Declined</div>
                        <div class="font-size-36 font-weight-500 line-height-1 mt-8">
                                {{transactionType.Declined || 0 | currency}}

                        </div>
                </div>
            </div>

        </div>
        <!-- / Declined Transactions -->

    </section>
   
    <ng-template #renderingContainer></ng-template>
</section>