<section class="transactionList w-100-p">
    <section fxLayout="row" fxLayoutALign="space-between center">
        <h2>Transactions</h2>
        <div class="searchBox">
          
        </div>
    </section>
    <hr />
    <section class="transactionGrid" fxLayout="column" fxLayoutAlign="space-between stretch"
    fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" >
    
        <!-- Approved Transaction -->
        <div class="fuse-card auto-width" fxFlex="100" fxFlex.gt-sm="33" [ngClass.gt-sm]="'mb-0 mr-32'" [ngClass.lt-sm]="'mb-4'" [ngClass.sm]="'mb-4'">
                <div class="px-8 py-16" fxLayout="column" fxLayoutAlign="center center">
                        <div class="h3 secondary-text">Approved</div>
                        <div class="font-size-36 font-weight-500 line-height-1 mt-8">
                            {{transactionType.Approved || 0 | currency}}

                        </div>
                </div>
        </div>
        <!-- / Approved Transaction -->

        <!-- Refunds Transactions -->
        <div class="fuse-card auto-width" fxFlex="100" fxFlex.gt-sm="34" [ngClass.gt-sm]="'mb-0 mr-32'" [ngClass.lt-sm]="'mb-4'" [ngClass.sm]="'mb-4'">
                <div class="px-8 py-16" fxLayout="column" fxLayoutAlign="center center">
                        <div class="h3 secondary-text">Refunds</div>
                        <div class="font-size-36 font-weight-500 line-height-1 mt-8">
                            {{transactionType.Refunds || 0 | currency}}

                        </div>
                </div>
        </div>
        <!-- / Refunds Transactions -->

        <!-- Declined Transactions -->
        <div class="fuse-card auto-width" fxFlex="100" fxFlex.gt-sm="33">
            <div class="px-8 py-16" fxLayout="column" fxLayoutAlign="center center">
                <div class="h3 secondary-text">Declined</div>
                <div class="font-size-36 font-weight-500 line-height-1 mt-8">
                        {{transactionType.Declined || 0 | currency}}
                </div>
            </div>
        </div>
        <!-- / Declined Transactions -->

    </section>
      <!-- Date Range Section -->
    <section class="mt-20" fxLayout="row" fxLayoutAlign="end center">
        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker" >
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date" >
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>                
    </section>
    <ng-template #renderingContainer></ng-template>
</section>