<section class="pricingPlanList w-100-p">

  <ng-container *ngIf="headerVisibility">
  <section fxLayout="row" fxLayoutALign="space-between center" [routerLink]="'/pages/pricing-plan/pricing-plan-create'">
    <h2>Pricing Plan</h2>
    <div class="searchBox">
      
    </div>
  </section>
  <hr />
  <div class="my-20" fxLayout="row" fxLayoutAlign="end">
      <button mat-raised-button color="accent" (click)="openSlidePanel()">
          <mat-icon>add</mat-icon>
          ADD NEW PRICING PLAN
      </button>
  </div>
  </ng-container>

  <ng-template #renderingContainer></ng-template>

</section>