<section class="non-funded">
  <mat-paginator [pageSizeOptions]="[100, 150, 200, 250]"></mat-paginator>
    <div class="mat-card table-responsive mt-20">
        <table mat-table [dataSource]="dataSource" matSort class="w-100-p">
          
            <!-- Partner Name Column -->
            <ng-container matColumnDef="PartnerName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Partner Name</th>
              <td mat-cell *matCellDef="let row"  [matTooltip]="row?.PartnerName" [matTooltipPosition]="'above'" > {{row.PartnerName ||'--' |truncate :truncateTextLength}} </td>
            </ng-container>
        
            <!-- TotalTrans Amount Column -->
            <ng-container matColumnDef="TotalTransAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Trans. Amount </th>
              <td mat-cell *matCellDef="let row"> {{row.TotalTransAmount || 0 | currency }}</td>
            </ng-container>
        
            <!-- Paynomix Fee Column -->
            <ng-container matColumnDef="PaynomixFee">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Paynomix Fee </th>
              <td mat-cell *matCellDef="let row"> {{row.PaynomixFee || 0 | currency }} </td>
            </ng-container>
        
            <!-- Admin Commission Column -->
            <ng-container matColumnDef="AdminCommission">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Admin Commission </th>
              <td mat-cell *matCellDef="let row"> {{row.AdminCommission || 0 | currency }} </td>
            </ng-container>
    
            <!-- Partner Commision Column -->
            <ng-container matColumnDef="PartnerCommision">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Partner Commision </th>
            <td mat-cell *matCellDef="let row"> {{row.PartnerCommision || 0 | currency }} </td>
            </ng-container>
    
            <!-- Reseller Commision Column -->
            <ng-container matColumnDef="ResellerCommision">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reseller Commision </th>
            <td mat-cell *matCellDef="let row"> {{row.ResellerCommision || 0 | currency }} </td>
            </ng-container>
    
            <!-- Status Column -->
                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let row;let ind = index">
                        <ng-template [ngIf]="ind != actionControlOnHover" [ngIfElse]="actionControl">
                            <mat-chip-list>
                               <mat-chip class="fuse-white-fg py-4 px-16 orange-500">
                                <small>{{row.Status}}</small>
                              </mat-chip>
                            </mat-chip-list>
                        </ng-template>
                        <ng-template #actionControl>
                            <button mat-icon-button matTooltip="Fund Now" aria-label="fund"
                            [@fadeIn]    
                            (click)="openDialogToFund(row)">
                            <mat-icon>monetization_on</mat-icon>
                            </button>
                            <!-- <button mat-icon-button matTooltip="Go to Fund Detail" 
                            aria-label="detail" [@fadeIn]>
                            <mat-icon>arrow_forward</mat-icon> 
                            </button> -->
                        </ng-template>
                    </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <tr mat-row  (mouseenter)="actionControlOnHover = i"  (mouseleave)="actionControlOnHover = -1" 
                    *matRowDef="let row; columns: displayedColumns;let i = index">
                    </tr>    
        </table>
    </div>
   
</section>


<ng-template #fundDialog>
  <div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title">Fund</span>
            <button mat-icon-button aria-label="Close dialog" (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24">
      <p class="text-center text-size-normal"> Are you sure, you want to fund of amount?
        <br /> 
        <strong>{{selectedToFund?.TotalTransAmount | currency}}</strong>
      </p>
    </div>

    <div mat-dialog-actions class="px-24 py-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button
        class="mr-8 accent-alpha-bg"
        aria-label="NO" (click)="dialogRef.close()">
            No
        </button>    
        <button mat-raised-button
        color="accent"
        aria-label="YES" (click)="fundNow()">
            Yes
        </button>
    </div>
  </div>
</ng-template>
