<section class="fundingList w-100-p">
    <section fxLayout="row" fxLayoutALign="space-between center">
        <h2>Funding Manager</h2>
        <div class="searchBox">
          
        </div>
    </section>
    <hr />
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Pending Fund">
        <app-non-funded [nonFundedList]="fundsList" [displayedColumns]= "displayedColumns"></app-non-funded>
      </mat-tab>
      <mat-tab label="Funded">
        <app-funded [fundedList]="fundsList" [displayedColumns]= "displayedColumns"></app-funded>
      </mat-tab>
  </mat-tab-group>
</section>