

<mat-menu >
    <form fxLayout="column" class = "p-20" fxLayoutAlign="start" name="form" [formGroup]="SearchForm"(click)="stopPropagation($event)" >
        <div class="mb-16" 
        fxLayout ="row wrap"  
        fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center start" fxLayoutAlign="start"
        formArrayName="MatMenuFields" >
            <ng-container *ngFor="let item of SearchForm.get('MatMenuFields')['controls']; let i = index;" [formGroupName]="i">
                <mat-form-field appearance="outline" fxFlex.gt-sm="100" fxFlex.sm="100" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                    <mat-label>{{data[i].label}}</mat-label>
                    <input matInput [formControlName]="data[i].ControlName">
                </mat-form-field>
            </ng-container>   
        </div>
        <button mat-raised-button class="my-4" [ngClass.sm]="'ml-4'" [ngClass.gt-sm]="'ml-4'" color="accent" 
     aria-label="Submit" (click)="submit()" >
    Search
    </button>
        <button mat-raised-button class="my-4 accent-alpha-bg" [ngClass.sm]="'ml-4'" [ngClass.gt-sm]="'ml-4'" 
        aria-label="Clear" (click)= "SearchForm.reset(); submit()"  >
    Clear
    </button>
  </form>
</mat-menu>
