<section class="general-setting p-16">
    <section class="make-sale">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel class="mb-8">
                <mat-expansion-panel-header>
                    <mat-panel-title class="accent-fg">
                    Setting Make Sale
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-make-sale-setting></app-make-sale-setting>
            </mat-expansion-panel>
   
            <mat-expansion-panel class="mb-8">
              <mat-expansion-panel-header>
                <mat-panel-title class="accent-fg">
                  Other Setting
                </mat-panel-title>
              </mat-expansion-panel-header>
          
                Noor
            </mat-expansion-panel>

          </mat-accordion>
    </section>
    


</section>