<section class="bankAccount">

    <form fxLayout="column" fxLayoutAlign="start"
     name="form" [formGroup]="bankAccountForm">
   
        <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex.gt-sm="33" fxFlex.sm="33" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                <mat-label>Bank Account Type</mat-label>
                <mat-select formControlName="BankAccountType" required>
                    <mat-option [value]="'company'">Company</mat-option>
                    <mat-option [value]="'Savings'">Savings</mat-option>
                    <mat-option [value]="'individual'">Individual</mat-option>
                    <mat-option [value]="'Coorporate Checking'">Coorporate Checking</mat-option>
                    <mat-option [value]="'Coorporate Savings'">Coorporate Savings</mat-option>
                </mat-select>
                <mat-error>Bank account type is required!</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex.gt-sm="34" fxFlex.sm="34" [ngClass.sm]="['pr-4', 'pl-4']" [ngClass.gt-sm]="['pr-4', 'pl-4']">
                <mat-label>Bank Routing Number</mat-label>
                <input numberOnly matInput formControlName="RoutingNumber" [maxlength]="validatorConfig.maxRoutingNo" minlength="9" required>
                <mat-error>Bank routing number is required!</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex.gt-sm="33" fxFlex.sm="33" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                <mat-label>Bank Account Number</mat-label>
                <input numberOnly matInput formControlName="AccountNumber" [maxlength]="validatorConfig.accMaxLength" required>
                <mat-error>Bank account number is required!</mat-error>
            </mat-form-field>
        </div>


        <div fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center" fxLayout="column" fxLayoutAlign="space-between stretch">
            <button mat-raised-button matStepperPrevious class="my-4 accent-fg accent-alpha-bg" [ngClass.sm]="'mr-4'" [ngClass.gt-sm]="'mr-4'"
            aria-label="Previous">
            Previous
            </button>
            <button mat-raised-button matStepperNext class="my-4" [ngClass.sm]="'ml-4'" [ngClass.gt-sm]="'ml-4'" color="accent" 
                aria-label="Next" [disabled]="bankAccountForm.invalid">
            Next
            </button>
        </div>

  </form>
</section>


