<section class="ipAddress">
    <fieldset class="my-4 mx-0">
        <legend class="accent-fg">Add New IP </legend>
            <form [formGroup]="ipAddressForm" fxLayout="column" fxLayoutAlign="start">
                <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="['pr-4','pl-4']" [ngClass.gt-sm]="['pr-4','pl-4']">
                        <mat-label>IP Address</mat-label>
                        <input matInput placeholder="IP Address" [dropSpecialCharacters]="true"
                            mask="000.000.000.000" formControlName="FraudDescription" required>
                        <mat-error>Ip Address is required!</mat-error>
                    </mat-form-field>
                    <div fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                        <mat-checkbox class="mx-12" formControlName="IsActive"
                            checked="ipBlocking?.value?.IsActive">Active
                        </mat-checkbox>
                    </div>
                </div>
                <div fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center" fxLayout="column" fxLayoutAlign="space-between stretch" [ngClass.sm]="'mt-8'">
                    <button mat-raised-button class="my-4" [ngClass.sm]="'ml-4'" [ngClass.gt-sm]="'ml-4'" color="accent" aria-label="Save" type="submit" (click)="addIpAddress()">
                    ADD IP
                    </button>
                </div>
            </form>
    </fieldset>
</section>
       
  
