<section class="makeSale w-100-p">
    <h2>Make Sale</h2>
    <hr />
    <div class="mt-20 p-20 outer-layer" 
         fxLayout.gt-sm="row" fxLayout="column" 
         fxLayoutAlign="start stretch" fxLayoutAlign.gt-sm="space-between start">
        
        <div fxFlex.gt-sm="60" fxFlex.sm="60" fxFlex="100"
         fxLayout="column" fxLayoutAlign="start stretch"
         [ngClass.sm]="'pr-12'" [ngClass.gt-sm]="'pr-12'">

            <mat-form-field appearance="outline">
                <mat-label>Transaction Amount</mat-label>
                <input matInput required #amount numberOnly [disabled]="!selectedLocationId">
            </mat-form-field>

            <mat-button-toggle-group class="mb-24">
                <mat-button-toggle class="w-50-p" [value]="0" checked="true"> Credit Card
                </mat-button-toggle>
                <mat-button-toggle class="w-50-p" [value]="1">ACH</mat-button-toggle>
            </mat-button-toggle-group>

            <app-personal-info (personalInfo)="personalInformation($event)" [resetPersonalInfo]="transactionApproved"></app-personal-info>

        </div>


        <div fxFlex.gt-sm="40" fxFlex.sm="40" fxFlex="100" 
        fxLayout="column" fxLayoutAlign="start stretch"
        [ngClass.sm]="'pl-12'" [ngClass.gt-sm]="'pl-12'">
            <div class="outer-layer p-20">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span>Total</span>
                    <span>{{amount.value | currency}}</span>
                </div> 
                <hr />

                <ng-template #renderingContainer></ng-template>
            </div>
        </div>

    </div>
    <ng-template [ngIf]="bottomSheetEnable">
        <app-bottom-sheet [repeatingItems]="merchantLocation" [isOpen]="bottomSheetDrawerOpen"
         [drawerConfig]="makeSaleBottomSheetInfo"
         (selected)="onSelected($event)" (close)="bottomSheetDrawerOpen = $event"></app-bottom-sheet>
    </ng-template>
</section>