app-pages .outer-layer {
   
    border-radius: 3px;
}
.makeSaleACH{
     margin-left: 0px; border: 1px solid #ccc;background:#FDFCFC; padding: 25px;
    
    } 
    .makeSaleTotal {
        margin-left: -10px;
     }
     .example2 .input {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding-bottom: 7px;
        color: #32325d;
        background-color: transparent;
    }