<section class="dashboard w-100-p">

    <section fxLayout="row" fxLayoutALign="space-between center">
        <h2>Dashboard</h2>
        <div class="range">
            <!-- <mat-date-range-input >
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
            </mat-date-range-input>
              
            <mat-date-range-picker #picker></mat-date-range-picker> -->
        </div>
    </section>

    <section class="transactionGrid" fxLayout="column" fxLayoutAlign="start"
    fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

        <!-- Widget 1 -->
        <div class="widget" fxFlex="100" fxFlex.gt-sm="33">

            <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                <div class="p-16 pb-0" fxLayout="column" fxLayoutAlign="end start">

                        <div class="h3 secondary-text">Total Transactions (Last 7 days)</div>
                        <div class="font-size-40 font-weight-300 line-height-1 mt-8 w-100-p transDigit">
                            {{dashboardUserStats?.Widget?.TotalTransaction || 0 | number}}
                        </div>
                </div>

                <div class="h-80 w-100-p">
                    <canvas baseChart
                            [datasets]="widgets.widget2.datasets"
                            [labels]="widgets.widget2.labels"
                            [colors]="widgets.widget2.colors"
                            [options]="widgets.widget2.options"
                            [chartType]="widgets.widget2.chartType">
                    </canvas>
                </div>

            </div>

        </div>
        <!-- / Widget 1 -->

        <!-- Widget 2 -->
        <div class="widget" fxFlex="100" fxFlex.gt-sm="34">

            <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                <div class="p-16 pb-0" fxLayout="column" fxLayoutAlign="end start">

                        <div class="h3 secondary-text">Successful Transactions (Last 7 days)</div>
                        <div class="font-size-40 font-weight-300 line-height-1 mt-8 w-100-p transDigit">
                            {{dashboardUserStats?.Widget?.SuccessfulTransaction || 0 | number}}
                        </div>
                </div>

                <div class="h-80 w-100-p">
                    <canvas baseChart
                            [datasets]="widgets.widget3.datasets"
                            [labels]="widgets.widget3.labels"
                            [colors]="widgets.widget3.colors"
                            [options]="widgets.widget3.options"
                            [chartType]="widgets.widget3.chartType">
                    </canvas>
                </div>

            </div>

        </div>
        <!-- / Widget 2 -->

        <!-- Widget 3 -->
        <div class="widget" fxFlex="100" fxFlex.gt-sm="33">

            <div class="fuse-card auto-width mb-32">

                <div class="p-16 pb-0" fxLayout="column" fxLayoutAlign="end start">

                        <div class="h3 secondary-text">Avg. Transactions (Last 7 days)</div>
                        <div class="font-size-40 font-weight-300 line-height-1 mt-8 w-100-p transDigit">
                                {{dashboardUserStats?.Widget?.AvgTransactionAmount || 0 | currency }}
                        </div>

                </div>

                <div class="h-80 w-100-p">
                    <canvas baseChart
                            [datasets]="widgets.widget4.datasets"
                            [labels]="widgets.widget4.labels"
                            [colors]="widgets.widget4.colors"
                            [options]="widgets.widget4.options"
                            [chartType]="widgets.widget4.chartType">
                    </canvas>
                </div>

            </div>

        </div>
        <!-- / Widget 3 -->

    </section>

    <section class="transactionHistory fuse-card auto-width mb-32">
        <div class="px-20">
            <h2>Transaction History</h2>
        </div>
        <div class="h-368 pb-16">
            <canvas baseChart
                    [datasets]="widgets.widget5.datasets['today']"
                    [labels]="widgets.widget5.labels"
                    [colors]="widgets.widget5.colors"
                    [options]="widgets.widget5.options"
                    [chartType]="widgets.widget5.chartType">
            </canvas>
        </div>

    </section>

    <section class="latestTransaction fuse-card auto-width">
        <div class="px-20 pt-20">
            <h2 class="m-0">Recent Transactions</h2>
        </div>
        <ng-template #renderingContainer></ng-template>
    </section>
</section>
