<section class="dashboard w-100-p">

    <section fxLayout="row" fxLayoutALign="space-between center">
        <h2>Dashboard</h2>
        <div class="range">
            <!-- <mat-date-range-input >
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
            </mat-date-range-input>
              
            <mat-date-range-picker #picker></mat-date-range-picker> -->
        </div>
    </section>

    <section class="transactionGrid" fxLayout="column" fxLayoutAlign="start"
    fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">

        <!-- Widget 1 -->
        <div class="widget" fxFlex="100" fxFlex.gt-sm="33">

            <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                    <div class="pr-16">
                        <div class="h3 secondary-text">Total Transactions</div>
                        <div class="font-size-40 font-weight-300 line-height-1 mt-8">
                            {{dashboardUserStats?.Widget?.TotalTransaction || 0}}
                        </div>
                    </div>
                </div>

                <div class="h-80 w-100-p">
                    <canvas baseChart
                            [datasets]="widgets.widget2.datasets"
                            [labels]="widgets.widget2.labels"
                            [colors]="widgets.widget2.colors"
                            [options]="widgets.widget2.options"
                            [chartType]="widgets.widget2.chartType">
                    </canvas>
                </div>

            </div>

        </div>
        <!-- / Widget 1 -->

        <!-- Widget 2 -->
        <div class="widget" fxFlex="100" fxFlex.gt-sm="34">

            <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">

                <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                    <div class="pr-16">
                        <div class="h3 secondary-text">Successful Transactions</div>
                        <div class="font-size-40 font-weight-300 line-height-1 mt-8">
                            {{dashboardUserStats?.Widget?.SuccessfulTransaction || 0}}
                        </div>
                    </div>
                </div>

                <div class="h-80 w-100-p">
                    <canvas baseChart
                            [datasets]="widgets.widget3.datasets"
                            [labels]="widgets.widget3.labels"
                            [colors]="widgets.widget3.colors"
                            [options]="widgets.widget3.options"
                            [chartType]="widgets.widget3.chartType">
                    </canvas>
                </div>

            </div>

        </div>
        <!-- / Widget 2 -->

        <!-- Widget 3 -->
        <div class="widget" fxFlex="100" fxFlex.gt-sm="33">

            <div class="fuse-card auto-width mb-32">

                <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                    <div class="pr-16">
                        <div class="h3 secondary-text">Avg. Transactions</div>
                        <div class="font-size-40 font-weight-300 line-height-1 mt-8">
                                {{dashboardUserStats?.Widget?.AvgTransactionAmount || 0 | currency }}
                        </div>
                    </div>

                </div>

                <div class="h-80 w-100-p">
                    <canvas baseChart
                            [datasets]="widgets.widget4.datasets"
                            [labels]="widgets.widget4.labels"
                            [colors]="widgets.widget4.colors"
                            [options]="widgets.widget4.options"
                            [chartType]="widgets.widget4.chartType">
                    </canvas>
                </div>

            </div>

        </div>
        <!-- / Widget 3 -->

    </section>

    <section class="transactionHistory fuse-card auto-width mb-32">
        <div class="p-20">
            <h2>Transaction History</h2>
        </div>
        <div class="h-368 pb-16">
            <canvas baseChart
                    [datasets]="widgets.widget5.datasets['today']"
                    [labels]="widgets.widget5.labels"
                    [colors]="widgets.widget5.colors"
                    [options]="widgets.widget5.options"
                    [chartType]="widgets.widget5.chartType">
            </canvas>
        </div>

    </section>

    <section class="latestTransaction fuse-card auto-width">
        <div class="p-20">
            <h2 class="m-0">Recent Transactions</h2>
        </div>

            <table mat-table [dataSource]="dataSource" matSort class="w-100-p">
          
              <!-- Transaction ID Column -->
              <ng-container matColumnDef="TransactionId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Trans. ID </th>
                <td mat-cell *matCellDef="let row"> {{row.TransactionId}} </td>
              </ng-container>
          
         

              <!--  Transaction Type Column -->
              <ng-container matColumnDef="TransactionType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Trans. Type</th>
                <td mat-cell *matCellDef="let row">{{
                    (row.TransactionType ==  transType.CreditCardVoid) ?  'CC - Void ' : 
                    (row.TransactionType ==  transType.CreditCardSale) ?  'CC - Sale ' :  
                    (row.TransactionType == transType.CreditCardAuth) ? 'CC - Auth '  :  
                    (row.TransactionType ==  transType.CreditCardFund) ? 'CC - Fund' : 
                    (row.TransactionType ==  transType.CreditCardRefund) ? 'CC - Refund' : 
                    (row.TransactionType ==  transType.CreditCardCapture) ? 'CC - Capture' : 
                    (row.TransactionType ==  transType.ACHDebit) ? 'ACH - Debit' : 
                    (row.TransactionType ==  transType.ACHRefund) ? 'ACH - Refund' : 
                    'ACH - Void '}}</td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="InsertedOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Time </th>
                <td mat-cell *matCellDef="let row"> {{row.InsertedOn | date: 'medium'}} </td>
              </ng-container>
          
              <!-- Color Column -->
              <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Trans. Amount </th>
                <td mat-cell *matCellDef="let row"> {{row.Amount | currency}} </td>
              </ng-container>

                <!--  Status  Column -->
                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let row"> {{
                        (row.Status == transStatus.declined ) ?  'Declined' : 
                        (row.Status ==  transStatus.approved) ?  'Approved' :  
                        (row.Status == transStatus.pending) ? 'Pending'  :  
                        (row.Status ==  transStatus.funded) ? 'Funded' : 
                        'Refund' }}</td>
                </ng-container>

                <!--  Cardholder Name Column -->
                <ng-container matColumnDef="CardholderName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cardholder Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.CardholderName || '--'}}</td>
                </ng-container>
                
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/pages/partner/partner-edit', row.TransactionId]"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </section>
</section>
