<section class="countryOrigin w-100-p" >
    <div class="outer-layer m-20 px-20">
        <h2>Country Origin Blocking IP</h2>
        <hr />
        <p>
            Country of Origin Blocking by IP <br>
            This allows you to block transactions originating from selected countries. The country of origin is determined by the IP address of the user.
        </p>
       
        <!-- lock controls -->
        <app-lock-controls></app-lock-controls>

        <!-- ip-blocking-status -->
        <app-ip-blocking-status></app-ip-blocking-status>

         <!-- app-ip-address -->
         <p>
            To select a country, click on the country from the All Counties list and click Add button. <br>
            To remove a country that has already been selected, click on the country from the Selected Countries list and click Remove button.
         </p>
         <app-country-blocking-ip></app-country-blocking-ip>

    </div>
</section>


