<section class="proxy-blocking w-100-p">
    <div class="outer-layer m-20 p-20">
        <h2 >Proxy Blocking </h2>
        <hr />
        <div class="mat-card p-20 ">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat debitis voluptates dolor nesciunt necessitatibus consequatur illo sed harum, rem dolorum aliquam labore facere quis maiores itaque, aut ratione, nam optio.
            </p>
            <p>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae veritatis facilis neque incidunt. Ad minus voluptatibus totam voluptatum quibusdam, eaque eius officia, in aperiam repudiandae et dolorem asperiores delectus illo!
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat qui odio error culpa veniam, dolore at, modi est, tempora ad sapiente fuga ducimus facere nisi nam accusantium? Ipsa, neque modi?
            </p>
        </div>
       
        <div class="mat-card mt-20">
            <div class="outer-layer p-20" fxLayout="column" fxLayoutAlign="space-around start">
            <h3 class="accent-fg">Lock Control</h3>
            <hr>
            <section  fxLayout="row" fxLayoutAlign="center center" >
                <label >Lock : </label>
                <mat-checkbox class="mx-12">Merchant</mat-checkbox>
            </section>
            <div class="my-20" fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="accent">
                    Submit
                </button>
            </div>
            <mat-divider></mat-divider>
            <h3 class="accent-fg">Proxy Blocking </h3>
            <hr>
            <section class="">
                <label >status :</label>
                <mat-checkbox class="mx-12">Active</mat-checkbox>
                <mat-checkbox class="mx-12">In Active</mat-checkbox>
            </section>
            <div class="my-20"fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center" fxLayout="row" fxLayoutAlign="center center" >
                <button mat-raised-button color="accent">
                    Update
                </button>
            </div>
            <mat-divider></mat-divider>
        </div>
        </div>
    </div>
</section>

