@import "../../../../../../assets/variables/_variables";

.plgManagement{
   
   .mat-card{
        position: relative;
        .card-content{
            opacity: 0.7;
            ngx-dropzone{
                border-radius: 100%;
                width: 140px;
                height: 140px;
                margin: auto;
                border-color: $fgColor;
                ngx-dropzone-label{
                   .mat-icon{
                       font-size: 40px;
                       width: 40px;
                       height: 40px;
                   } 
                }
            }
        }
    }
    
}