<section class="apiKey">
    <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" class="mt-20">
        <div fxFlex.gt-sm="30" fxFlex.sm="30" fxFlex="100" fxLayout="column" fxLayoutAlign="center center" class="p-20" >
            <div  class="logo">
                <img src="assets/images/paynomix-logos/logo.svg">
            </div>
        </div>

        <div fxFlex.gt-sm="70" fxFlex.sm="70" class="p-20">
           <h1 class="ml-20 my-0">
               API Key for Paynomix 
           </h1>
           <mat-list role="listitem" >
            <mat-list-item role="listitem">1. Please wait for download to finish</mat-list-item>
            <mat-list-item role="listitem">2. Run Paynomix setup to perform installation </mat-list-item>
            <mat-list-item role="listitem">3. open QuickBooks Financials and start accepting payment and much more .</mat-list-item>
          <mat-list-item role="listitem">4. Get <span class="ml-4 accent-fg">Activation Key</span> </mat-list-item>
        </mat-list>
        <p class="ml-20 mt-20">if your download does not automatically, please <span class="accent-fg">  try again</span></p>
        </div>
    </div>
</section>