<section class="transactionDetail w-100-p">
    <h2>Transaction Detail</h2>
    <hr />
    
    <div class="mt-20 p-20 outer-layer" 
         fxLayoutAlign="start stretch" fxLayoutAlign.gt-sm="space-between start">
        
           
        
            <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
            <div fxFlex.gt-sm="60" fxFlex.sm="60" fxFlex="100"
            fxLayout="column" fxLayoutAlign="start "
            [ngClass.sm]="'pr-12'" [ngClass.gt-sm]="'pr-12'"> 

            <table mat-table [dataSource]="dataSource" class="w-100-p border-top-0">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
            <!-- <table class="table">
                <tr>
                    <td class="LeftColumn">Transaction</td>
                    <td>sss</td>
                </tr>
                <tr class="bordertr">
                    <td class="LeftColumn">Sale</td>
                    <td>fdf</td>
                </tr>
                <tr class="bordertr">
                    <td class="LeftColumn">Status</td>
                    <td>fdfdff </td>
                </tr>
                <tr class="bordertr">
                    <td class="LeftColumnHeading">Transaction Details</td>
                    <td></td>
                </tr>
                <tr class="bordertr">
                    <td class="LeftColumn">Date And Time</td>
                    <td>dfdfdf</td>
                </tr>
                <tr class="bordertr">
                    <td class="LeftColumn">Method</td>
                    <td>Credit Card</td>
                </tr>
                <tr class="bordertr">
                    <td class="LeftColumn">Auth Code</td>
                    <td>dfdfdf</td>
                </tr>
                <tr class="bordertr">
                    <td class="LeftColumnHeading">Card Details</td>
                    <td class="LeftColumnHeading">Card Details</td>
                </tr>
                <tr class="bordertr">
                    <td class="LeftColumn">Card Holder Name</td>
                    <td>dfdffdfdf</td>
                </tr>
                <tr class="bordertr">
                    <td class="LeftColumn">Card</td>
                    <td>dfdfdfdfdf</td>
                </tr>
                <tr class="bordertr">
                    <td>Merchant Account Details</td>
                    <td>fdfdfdf</td>
                </tr>
                <tr class="bordertr">
                    <td>Name</td>
                    <td>dfdff</td>
                </tr>
                </table> -->
               
            </div>


            <div fxFlex.gt-sm="40" fxFlex.sm="40" fxFlex="100" 
            fxLayout="column" fxLayoutAlign="start stretch"
            [ngClass.sm]="'pl-12'" [ngClass.gt-sm]="'pl-12'" class="w-100-p">
            <div class="mat-card">
                <span><b>Demo Live test</b></span>
                <hr>
                <table>
                    <tr>
                        <td >TRANSACTION #</td>
                        <td  >sff</td>
                    </tr>
                    <tr>
                        <td  >DATE</td>
                        <td  >fsf</td>
                    </tr>
                    <tr>
                        <td  >RESULT</td>
                        <td  >sffffffffffffffffffffffffftttttttttttttttt</td>
                    </tr>
                    <tr>
                        <td  >AUTH CODE</td>
                        <td  >fsff</td>
                    </tr>
                    <tr>
                        <td  >TRANSACTION METHOD</td>
                        <td  >Credit Card</td>
                    </tr>
                    <tr>
                        <td >TRANSACTION TYPE</td>
                        <td >xvvv</td>
                    </tr>
                    <tr>
                        <td >CARDHOLDER NAME</td>
                        <td >dgdg</td>
                    </tr>
                    <tr>
                        <td >CARD</td>
                        <td >dggdgdg</td>
                    </tr>
                    <tr>
                        <td >CARD TYPE</td>
                        <td >dggdg</td>
                    </tr>
                    
                    <tr>
                        <td class="hrLine">TOTAL (USD)</td>
                        <td class="hrLine">TOTAL (USD)</td>
                        
                    </tr>
                    
                    <tr >
                        <td>METHOD</td>
                        <td>KEY ENTERED</td>
                    </tr>
                    </table>
            </div>
            <div class="my-12" fxLayoutAlign="end">
                <button  mat-raised-button color="accent">
                 <mat-icon>print</mat-icon> Print
                </button>
            </div>
            </div>
    </div>


    </div>
</section>