<div id="transaction-detail" 
style="background-color:transparent !important;padding:15px;"
 class="page-layout simple fullwidth" 
 fxLayout="column">
    <div class="center" style="background-color:white !important;">

    <div class="top-bg "></div>

    <div class="content" fxLayout="column" fxLayoutAlign="space-between none">

      
            
            <h2>Transaction Details</h2>
            
            <button
            
            [routerLink]="'/pages/transaction'" 
            
            style="margin-left:5px;width:110px;color :white !important;background-color:#039be5"


             mat-button class="accent">
            <mat-icon>arrow_back</mat-icon>
            </button>


    <div fxLayout="row" fxLayoutAlign="space-around center"  fxLayoutGap="20px">
   <div fxFlex="" class="printnot">  
<table  class="maintable">
<tr class="topTr">
    <td class="LeftColumn">Transaction ID</td>
    <td>{{transactionDetail.TransactionId}}</td>
</tr>

<tr class="bordertr">
    <td class="LeftColumn">Transaction Type</td>
    <td >

            {{  
            (transactionDetail?.TransactionType ==  0)?
              'Void ' : (transactionDetail?.TransactionType ==  1)?
              'Sale ' :  (transactionDetail?.TransactionType == 2)?
              'Auth '  :  (transactionDetail?.TransactionType ==  4)?
              'Refund' : (transactionDetail?.TransactionType ==  5)?
              'Capture' : (transactionDetail?.TransactionType ==  6)?
              'Debit' : (transactionDetail?.TransactionType ==  7)?
              'Refund' : 'Void '
            }}

    </td>
    <!-- <td class="righttd">---</td> -->

</tr>

<tr class="bordertr">
    <td class="LeftColumn">Transaction Amount</td>
    <td class="font-size-16">{{transactionDetail.Amount | currency}}</td>
</tr>
<tr class="bordertr">
    <td class="LeftColumn">Status</td>
    <td>
    <span *ngIf="transactionDetail.Status == true" style="color:limegreen"> Approved</span>
    <span *ngIf="transactionDetail.Status == false" style="color:red">Decline</span>
    </td>
</tr>
<tr class="bordertr">
    <td class="LeftColumn">Date and Time</td>
    <td>{{transactionDetail.InsertedOn | date:'dd/MM/yyyy hh:mm:ss a'}}</td>
</tr>
<tr class="bordertr">
    <td class="LeftColumn">Method</td>
    <td>Credit Card</td>
</tr>
<tr class="bordertr">
    <td class="LeftColumn">Auth Code</td>
    <td>{{transactionDetail.AuthCode}}</td>
</tr>
<tr class="bordertr">
    <td class="LeftColumnHeading">Card Details</td>
    <td></td>
</tr>
<tr class="bordertr">
    <td class="LeftColumn">Cardholder Name</td>
    <td>{{transactionDetail.CardholderName}}</td>
</tr>
<tr class="bordertr">
    <td class="LeftColumn">Card Type</td>
    <td>
        {{transactionDetail.CardType | titlecase}}
    </td>
</tr>
<tr class="bordertr">
    <td class="LeftColumn">Last 4 Digits</td>
    <td>XXXX-XXXX-XXXX-{{transactionDetail.Last4digit}}</td>
</tr>
<tr class="bordertr">
    <td class="LeftColumnHeading" >Merchant Account Details</td>
    <td></td>
</tr>
<tr class="bordertr lastTr">
    <td>Name</td>
    <td>{{transactionDetail.MerchantName}}</td>
</tr>
</table>
</div> 

<div fxFlex="60" >
    <div class="mat-card right-card printDetail "id="printDetail">
<span>
    <b>{{transactionDetail.MerchantName}}</b>
</span>
<br>
<hr>

<table class="totalTable">
<tr>
    <td class="righttd">TRANSACTION ID</td>
    <td  class="righttd">{{transactionDetail.TransactionId}}</td>
</tr>
<tr>
    <td  class="righttd">DATE AND TIME</td>
    <td  class="righttd">{{transactionDetail.InsertedOn | date:'dd/MM/yyyy hh:mm:ss a'}}</td>
</tr>
<tr>
    <td  class="righttd">STATUS</td>
    <td  class="righttd">
        <span *ngIf="transactionDetail.Status == true" style="color:limegreen"> Approved</span>
        <span *ngIf="transactionDetail.Status == false" style="color:red">Decline</span>
    </td>
</tr>
<tr>
    <td  class="righttd">AUTH CODE</td>
    <td  class="righttd">{{transactionDetail.AuthCode}}</td>
</tr>
<tr>
    <td  class="righttd">TRANSACTION METHOD</td>
 
    <td  class="righttd">Credit Card</td>

</tr>
<tr>
    <td class="righttd">TRANSACTION TYPE</td>
    <td class="righttd">

        {{
            (transactionDetail?.TransactionType ==  0)? 
            'Void ' : (transactionDetail?.TransactionType ==  1)?
            'Sale ' :  (transactionDetail?.TransactionType == 2)?
            'Auth '  :  (transactionDetail?.TransactionType ==  4)?
            'Refund' : (transactionDetail?.TransactionType ==  5)?
            'Capture' : (transactionDetail?.TransactionType ==  6)?
            'Debit' : (transactionDetail?.TransactionType ==  7)?
            'Refund' : 'Void '}}

    </td>
</tr>
<tr>
    <td class="righttd">CARDHOLDER NAME</td>
    <td class="righttd">{{transactionDetail.CardholderName}}</td>
</tr>
<tr>
    <td class="righttd">CARD</td>
    <td class="righttd">XXXX-XXXX-XXXX-{{transactionDetail.Last4digit}}</td>
</tr>
<tr>
    <td class="righttd">CARD TYPE</td>
    <td class="righttd">
        {{transactionDetail.CardType | titlecase}}
    </td>
</tr>
</table>
<hr>

<hr>
<table class="totalTable">
    <tr>
        <td class="righttd total">TOTAL (USD)</td>
        <td class="righttd totalamt" style="font-size:14px !important;"><b>{{transactionDetail.Amount | currency}}</b></td>
    </tr>

</table>

</div>
<div class="printnot">
    <button 
    mat-button class="accent ml-136 pbtn" (click)="print()">Print</button>
</div>
</div>
</div>
    </div>
</div>
</div>