<mat-paginator [pageSizeOptions]="[100, 150, 200, 250]"></mat-paginator>
<section class="table-responsive mat-card">
    <table mat-table [dataSource]="dataSource" matSort class="w-100-p">
      
        <!-- Reseller Column -->
        <ng-container matColumnDef="Reseller">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Reseller </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.Reseller?.ResellerName" [matTooltipPosition]="'above'"> {{row?.Reseller?.ResellerName | truncate : truncateTextLength}}</td>
        </ng-container>

        <!-- Company Name Column -->
        <ng-container matColumnDef="CompanyName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.MerchantAccountSetup?.MerchantUserName" [matTooltipPosition]="'above'"> {{row?.MerchantAccountSetup?.MerchantUserName | truncate : truncateTextLength}} </td>
        </ng-container>
    
        <!--  Contact Person  Column -->
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Person </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.FirstName +' '+ row?.LastName"
           [matTooltipPosition]="'above'"> {{row.FirstName | truncate : truncateTextLength}} {{row.LastName | truncate : truncateTextLength}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.MerchantAccountSetup?.MerchantEmail" [matTooltipPosition]="'above'" > {{row?.MerchantAccountSetup?.MerchantEmail | truncate : truncateTextLength}} </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="Phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.Phone" [matTooltipPosition]="'above'"> {{row.Phone | truncate : truncateTextLength}} </td>
        </ng-container>

        <!-- PricingPlan Column -->
        <ng-container matColumnDef="PricingTitle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pricing Plan </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.MerchantAccountSetup?.PricingTitle" [matTooltipPosition]="'above'"> {{row?.MerchantAccountSetup?.PricingTitle | truncate : truncateTextLength || 'No Pricing Plan' }} </td>
        </ng-container>
        
        <!--  Boarded Date  Column -->
        <ng-container matColumnDef="BoardedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Boarded Date </th>
          <td mat-cell *matCellDef="let row" [matTooltip]="row?.BoardedDate" [matTooltipPosition]="'above'"> {{row.BoardedDate | date: 'mediumDate'}} </td>
        </ng-container>
          <!--   Status  Column -->
        <ng-container matColumnDef="BoardingStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row;let ind = index"> 

             <ng-template [ngIf]="ind != actionControlOnHover" [ngIfElse]="actionControl">
                <mat-chip-list>
                <mat-chip class="py-4 px-16 fuse-white-fg"
                [ngClass]=" (row?.MerchantAccountSetup?.BoardingStatus ==  'Active') ? 
                'green-600' :  (row?.MerchantAccountSetup?.BoardingStatus ==  'Decline') ?
                 'red-500'  :  (row?.MerchantAccountSetup?.BoardingStatus ==  'Approved') ? 
                 'cyan-500' : 'orange-500'">
                 <small>
                   {{row?.MerchantAccountSetup?.BoardingStatus || '--'}} 
                 </small>
                </mat-chip>
            </mat-chip-list>
            </ng-template>
             <ng-template #actionControl>
              <div [@fadeIn]>
                <button mat-icon-button matTooltip="Edit Merchant" aria-label="edit"   
                [routerLink]="['/pages/merchant/merchant-edit', row.MerchantId]">
                <mat-icon>edit</mat-icon> 
                </button>
                <button mat-icon-button matTooltip="Resend Email" aria-label="resend"   
                (click)="openDialog(row)">
                <mat-icon>email</mat-icon> 
                </button>
              </div>
            </ng-template>
            </td>
        </ng-container>
   
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row  (mouseenter)="actionControlOnHover = i"  (mouseleave)="actionControlOnHover = -1" 
        *matRowDef="let row; columns: displayedColumns;let i = index">
        </tr>
    </table>
</section>
