<section class="merchantForm">
    <div class="outer-layer mt-20">
        <mat-horizontal-stepper linear #stepper (selectionChange) = "stepChange($event)">
            <mat-step label="Merchant Info" [stepControl]="merchantInfoForm">
                <app-merchant-info [merchantInfo]="merchantDetail?.MerchantAccountSetup" (stepOne)="merchantInfoForm = $event"></app-merchant-info>
            </mat-step>
             <mat-step label="Business Detail" [stepControl]="businessDetailForm">
                <app-business-detail [businessDetail]="merchantDetail?.MerchantBusiness" (stepTwo)="businessDetailForm = $event"></app-business-detail>
            </mat-step>
            <mat-step label="Owner's Detail" [stepControl]="ownerDetailForm">
                <app-owner-detail [ownerDetail]="merchantDetail" (stepThree)="ownerDetailForm = $event"></app-owner-detail>
            </mat-step>
            <mat-step label="Bank Account" [stepControl]="bankAccountForm">
                <app-bank-account [bankAccountDetail]="merchantDetail?.MerchantBankAccount" (stepFour)="bankAccountForm = $event" ></app-bank-account>
            </mat-step>
            <mat-step label="Done">
                <app-all-gether-info [step]="stepper" [allInfo]="boardingObject" (saveAll) ="save()" ></app-all-gether-info>
            </mat-step>
        </mat-horizontal-stepper>

        <ng-template [ngIf]="bottomSheetEnable && !stepper?.selectedIndex">
            <app-bottom-sheet [repeatingItems]="resellers" [isOpen]="bottomSheetDrawerOpen"
             [selectedId]="merchantDetail?.ResellerId" [drawerConfig]="merchantBottomSheetInfo"
             (selected)="onSelected($event)" (close)="bottomSheetDrawerOpen = $event"></app-bottom-sheet>
        </ng-template>

    </div>
</section>
