<section class="pricingPlan w-100-p">
<section fxLayout="row" fxLayoutALign="space-between center" [routerLink]="'/pages/pricing-plan/pricing-plan-create'">
    <h2>Pricing Plan</h2>
    <div class="searchBox">
      
    </div>
</section>
<hr />
<div class="my-20" fxLayout="row" fxLayoutAlign="end">
    <button mat-raised-button color="accent" [routerLink]="'/pages/pricing-plan/pricing-plan-create'">
        <mat-icon>add</mat-icon>
        ADD NEW PRICING PLAN
    </button>
</div>

<app-pricing-plan-list></app-pricing-plan-list>

</section>
