@import "src/@fuse/scss/fuse";

forgot-password {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .forgot-password {
        .forgot-password-form-wrapper {
            .forgot-password-form {
                background-color: #FFFFFF;
                width: 600px;
                max-width: 600px;
                padding: 50px;
                text-align: center;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }

                .logo {
                    width: 270px;
                    margin: auto;
                    img{
                        width: 100%;
                    }
                }

                .title {
                    font-size: 20px;
                    margin: 16px 0;
                }

                form {
                    width: 100%;
                    text-align: left;
                    mat-form-field {
                        width: 100%;
                    }

                    .submit-button, .goback-button {
                        width: 220px;
                        margin-top: 10px;
                        @include media-breakpoint('xs') {
                            width: 100%;
                        }
                    }
                }

            }
        }
    }
}