<div class="forgot-password" fxLayout="column">

    <div class="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div class="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/{{appInfo?.assetPathName}}-logos/fullLogo.svg">
            </div>

            <div class="title">Reset Password</div>
            <p>Please enter your Email address and we'll send you instructions on how to reset your password..</p>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="resetPassword()">

                <mat-form-field appearance="outline">
                    <mat-label>Your email address</mat-label>
                    <input nospace matInput type="email" formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        email is required
                    </mat-error>
                    <mat-error *ngIf="!forgotPasswordForm.get('email').hasError('required') && (forgotPasswordForm.get('email').hasError('Email')|| forgotPasswordForm.get('Email').hasError('pattern'))">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <div fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center" fxLayout="column" fxLayoutAlign="space-between center">
                    <button mat-raised-button class="goback-button accent-alpha-bg"
                    aria-label="GO BACK" [routerLink]="'/login'">
                      Go Back
                    </button>
                    <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid">
                      Send Reset Link
                    </button>
                </div>
              
            </form>

        </div>

    </div>

</div>
