<section class="partnerList w-100-p">
    <section fxLayout="row" fxLayoutALign="space-between center">
        <h2>Partners</h2>
        <div class="searchBox">
          
        </div>
    </section>
    <hr />
    <div class="my-20" fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button color="accent" [routerLink]="'/pages/partner/partner-create'">
            <mat-icon>add</mat-icon>
            ADD NEW PARTNER
        </button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="w-100-p mat-card">
      
        <!-- Partner Name Column -->
        <ng-container matColumnDef="PartnerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Partner </th>
          <td mat-cell *matCellDef="let row"> {{row.PartnerName}} </td>
        </ng-container>
    
        <!-- DBA Name Column -->
        <ng-container matColumnDef="DBAName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DBA Name </th>
          <td mat-cell *matCellDef="let row"> {{row.DBAName}}</td>
        </ng-container>
    
        <!-- First Name Column -->
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let row"> {{row.FirstName}} </td>
        </ng-container>
    
        <!-- Last Name Column -->
        <ng-container matColumnDef="LastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row"> {{row.LastName}} </td>
        </ng-container>

         <!-- Action Column -->
         <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button [routerLink]="['/pages/partner/partner-edit', row.PartnerId]">
              <mat-icon class="secondary-text" >edit</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</section>