<section class="partnerList w-100-p">
    <section fxLayout="row" fxLayoutALign="space-between center">
        <h2>Partners</h2>
        <div class="searchBox">
          
        </div>
    </section>
    <hr />
    <div class="my-20" fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button color="accent" (click)="openSlidePanel()">
            <mat-icon>add</mat-icon>
            ADD NEW PARTNER
        </button>
    </div>
    <ng-template #renderingContainer></ng-template>
</section>