<section class="partnerList w-100-p">
    <section>
        <div fxLayout="row" fxFlex = "100">
        <div  fxFlex= "70" fxLayoutAlign="start center" >
        <h2>Partners</h2>
      </div>
        <div  fxFlex= "30"  fxLayoutAlign="end center">
          <mat-toolbar>
            <div [matMenuTriggerFor]="childComponentMenu?.menu">
              <button mat-icon-button   
               (click)="openmenu();" >
                      <mat-icon>search</mat-icon>
              </button>
              <span>Search Partner</span>
            </div>
   
              <app-advanced-search  [data]="PartnerSearchField" (submitForm)="searchpartner($event)" #childComponentMenu="menuInOtherComponent" ></app-advanced-search>
            </mat-toolbar>
        </div>
      </div>
    </section>


    <hr />
    <div class="my-20" fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button color="accent" (click)="openSlidePanel()">
            <mat-icon>add</mat-icon>
            ADD NEW PARTNER
        </button>
    </div>
    <ng-template #renderingContainer></ng-template>
</section>