@mixin fuse-sidebar-theme($theme) {

    $background: map-get($theme, background);

    fuse-sidebar {
        background: map-get($background, background);
    }

    .fuse-sidebar-overlay {
        background: rgba(9, 30, 66, 0.54);
        
        &.fuse-sidebar-overlay-invisible {
            background-color: transparent;
        }
    }
}