<section class="merchantList w-100-p">
  <section fxLayout="row" fxLayoutALign="space-between center">
      <h2>Merchants</h2>
      <div class="searchBox">
        
      </div>
  </section>
  <hr />
  <div class="my-20" fxLayout="row" fxLayoutAlign="end">
      <button mat-raised-button color="accent" [routerLink]="'/pages/merchant/merchant-create'">
          <mat-icon>add</mat-icon>
          ADD NEW MERCHANT
      </button>
  </div> 
  <ng-template #renderingContainer></ng-template>
</section>