<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <section class="pricingPlan-table table-responsive mat-card fixedTableheight">
    <table mat-table [dataSource]="dataSource" matSort class="w-100-p">
  
    <!-- Pricing Title Column -->
    <ng-container matColumnDef="PricingTitle">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pricing Title </th>
    <td mat-cell *matCellDef="let row"> {{row.PricingTitle}} </td>
    </ng-container>
  
    <!-- Reserve Column -->
    <ng-container matColumnDef="Reserve">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Reserve (%) </th>
    <td mat-cell *matCellDef="let row">{{row.Reserve}}</td>
    </ng-container>
  
    <!-- Discount Rate Column -->
    <ng-container matColumnDef="DiscountRate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount Rate (%) </th>
    <td mat-cell *matCellDef="let row">{{row.DiscountRate}} </td>
    </ng-container>
  
    <!-- Monthly Fee Column -->
    <ng-container matColumnDef="MonthlyMinimunFee">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Monthly Fee ($) </th>
    <td mat-cell *matCellDef="let row">{{row.MonthlyMinimunFee | currency}} </td>
    </ng-container>
    <!-- Fee Amount Column -->
    <ng-container matColumnDef="PerTransactionFee">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Per Transaction Fee ($) </th>
    <td mat-cell *matCellDef="let row">{{row.PerTransactionFee | currency}} </td>
    </ng-container>
    <!-- Transaction Fee Column -->
    <ng-container matColumnDef="TransactionFee">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Fee (%) </th>
    <td mat-cell *matCellDef="let row">{{row.TransactionFee}} </td>
    </ng-container>
    <!-- Transaction Assigned Column -->
    <ng-container matColumnDef="AssignCount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Assigned </th>
    <td mat-cell *matCellDef="let row">
        <span class="showGridButton" 
         >   {{row.AssignCount || 0}} </span> 
    
        <div class="hideGridButton" style="padding-right:10px;">
         
            <mat-icon 
            
            matTooltip="Edit Picing Plan"
            class="iconsList" [routerLink]="['/pages/pricing-plan/pricing-plan-edit', row.PricingPlanID]">edit</mat-icon>

           <mat-icon  matTooltip="Assign Pricing Plan"
          
          class="iconsList" (click)="openDialog(row.PricingPlanID)">how_to_reg</mat-icon> 

         </div>
        
        
        
    
    </td>
    </ng-container>
    <!-- Action Column -->
    <!-- <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let row"> 
  
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="secondary-text">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item >
          <mat-icon class="secondary-text">edit</mat-icon>
          <span>Edit Pricing Plan</span>
        </button>
        <button mat-menu-item >
          <mat-icon class="secondary-text">how_to_reg</mat-icon>
            <span>Assign to {{data?.assignPricingPlan?.AssignTo}}</span>
             
        </button>
      </mat-menu>
    </td>
    </ng-container> -->
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
    </table>
    </section>
