<section class="change-password w-100-p">
        <h2>Change Password</h2>
    <hr />
    <div class="outer-layer mt-20 p-20">
        <form fxLayout="column" name="changePasswordForm">
            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                    <mat-label>Old Password</mat-label>
                    <input type="password" matInput formControlName="oldPassword" required>
                    <mat-error>Old Password is required!</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                    <mat-label> New Password</mat-label>
                    <input type="password" matInput formControlName="newPassword" required>
                    <mat-error> New Password is required!</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password"  matInput formControlName="confirmPassword" required>
                    <mat-error>Confirm Password is required!</mat-error>
                </mat-form-field> 
            </div>
            <div fxLayout.sm="row" fxLayoutAlign.sm="end end" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="end end" fxLayout="column" fxLayoutAlign="space-between stretch" [ngClass.sm]="'mt-24'">
                <button mat-raised-button class="my-4 accent-alpha-bg" [ngClass.sm]="'mr-4'" [ngClass.gt-sm]="'mr-4'"  aria-label="Reset">
                Reset
                </button>
                <button mat-raised-button class="my-4" [ngClass.sm]="'ml-4'" [ngClass.gt-sm]="'ml-4'" color="accent" aria-label="Update" >
                Update
                </button>
            </div>
       </form> 
    </div>
</section>