<section class="change-password w-100-p">
    <h2>Change Password</h2>
    <hr />
    <div class="outer-layer mt-20 p-20">
        <form fxLayout="column" name="changePasswordForm" [formGroup]="changePasswordForm">
            <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'"
                    [ngClass.gt-sm]="'pr-4'">
                    <mat-label>Old Password</mat-label>
                    <input type="password" nospace matInput formControlName="Password" required>
                    <mat-error>Old Password is required!</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch"
                fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline"  fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'"
                    [ngClass.gt-sm]="'pr-4'">
                    <mat-label>New Password</mat-label>
                    <input type="password" nospace matInput [minlength]="globalConfig?.validator?.minPasswordLength" formControlName="NewPassword" required >
                    <mat-error *ngIf="changePasswordForm.get('NewPassword').hasError('required')"> Confirm New Password is required!</mat-error>
                    <mat-error *ngIf="!changePasswordForm.get('NewPassword').hasError('required') && changePasswordForm.get('NewPassword').hasError('minlength')">
                        Password must have minimum length of  {{globalConfig?.validator?.minPasswordLength}} 
                    </mat-error>
                    <mat-error *ngIf="!changePasswordForm.get('NewPassword').hasError('required') && 
                    !changePasswordForm.get('NewPassword').hasError('minLength')
                          && changePasswordForm.get('NewPassword').hasError('pattern')"> 
                        Password must contain atleast one lowercase letter, one uppercase letter, one number, and a special character
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'"
                    [ngClass.gt-sm]="'pl-4'">
                    <mat-label>Confirm New Password</mat-label>
                    <input type="password" nospace formControlName="ConfirmPassword" matInput required>
                    <mat-error *ngIf="changePasswordForm.get('ConfirmPassword').hasError('required')">Confirm Password is required!</mat-error>
                    <mat-error *ngIf="changePasswordForm.get('ConfirmPassword').hasError('notMatched')">
                         Password mismatch
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayout.gt-sm="row"
                fxLayoutAlign.gt-sm="center center" fxLayout="column" fxLayoutAlign="space-between stretch"
                [ngClass.sm]="'mt-24'">
                <!-- <button mat-raised-button class="my-4 accent-alpha-bg" [ngClass.sm]="'mr-4'" [ngClass.gt-sm]="'mr-4'"
                    aria-label="Reset" type="reset">
                    Reset
                </button> -->
                <button mat-raised-button class="my-4" [disabled]="changePasswordForm.invalid" [ngClass.sm]="'ml-4'" [ngClass.gt-sm]="'ml-4'" color="accent"
                    aria-label="Update" (click)="updatePassword()">
                    Update
                </button>
            </div>
        </form>
    </div>
</section>