<section class="change-password w-100-p">
        <h2>Change Password</h2>
    <hr />


    <div class="mat-card p-24 mb-16"  fxLayoutAlign="space-around stretch" fxLayout="column" >

        <form fxLayout="column" 
         name="form">
        <div  fxFlex="1 0 auto" fxLayout="row"  >

        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Old Password</mat-label>
            <input matInput >

          </mat-form-field>
        </div>

    <div  fxFlex="1 0 auto" fxLayout="row"   fxLayoutGap="10px"  >
        
        <mat-form-field appearance="outline"  fxFlex="50">
            <mat-label> New Password</mat-label>
            <input matInput  required>
            <mat-error> New Password is required!</mat-error>
        </mat-form-field>
   

        <mat-form-field appearance="outline"  fxFlex="50" >
            <mat-label>Confirm Password</mat-label>
            <input matInput  required>
            <mat-error>Confirm Password is required!</mat-error>
        </mat-form-field> 
    
    </div>
       </form> 
    </div>
</section>