<section class="transactionControls w-100-p">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="IP Blocking">
            <app-overlay-lock name="overlay" position="right" ></app-overlay-lock>
            <app-ip-blocking [fraudType]="2"></app-ip-blocking>
        </mat-tab>
        <!-- <mat-tab label="Restricted Transaction Source">
            <app-restricted-transaction></app-restricted-transaction>
        </mat-tab> -->
        <mat-tab label="Country Of Origin Blocking IP">
            <app-overlay-lock name="overlay-country" position="right" ></app-overlay-lock>
            <app-country-origin [fraudType]="1"></app-country-origin>
        </mat-tab>
        <!-- <mat-tab label="Proxy Blocking">
            <app-proxy-blocking [fraudType]="6"></app-proxy-blocking>
        </mat-tab> -->
    </mat-tab-group>
</section>