<section class="creditCard-info">
        <div class="text-center mx-auto my-8">
            <img src="../../../../assets/images/credit-cards-logos.png">
        </div>

        <form fxLayout="column" fxLayoutAlign="center stretch"
        name="Form" [formGroup]="creditcardForm">
        
            <mat-form-field appearance="outline">
                <mat-label>Cardholder Name</mat-label>
                <input matInput formControlName="CardholderName" required>
                <mat-error>Cardholder Name is required!</mat-error>
            </mat-form-field>
        
        
            <mat-form-field appearance="outline">
                <mat-label>Card Number</mat-label>
                <input matInput formControlName="CardNumber" required>
                <mat-error>Card Number is required!</mat-error>
            </mat-form-field>
        
        
            <mat-form-field appearance="outline">
                <mat-label>Card Expiration</mat-label>
                <input matInput formControlName="CardExpiration" required>
                <mat-error>CiCard Expiration is required!</mat-error>
            </mat-form-field>
        
        
            <mat-form-field appearance="outline">
                <mat-label> Security Code</mat-label>
                <input matInput formControlName="SecurityCode" required>
                <mat-error>Security Code is required!</mat-error>
            </mat-form-field>
        
        
            <mat-form-field appearance="outline">
                <mat-label>Street Address</mat-label>
                <input matInput formControlName="StreetAddress" required>
                <mat-error>Street Address is required!</mat-error>
            </mat-form-field>
        
        
            <mat-form-field appearance="outline">
                <mat-label> Zip Code </mat-label>
                <input matInput formControlName="ZipCode" required>
                <mat-error> Zip Code is required!</mat-error>
            </mat-form-field>
        
            <div fxLayout="row" fxLayoutAlign="center">
                <button fxFlex="100" mat-raised-button class="processBtn accent-alpha-bg accent-fg">
                    Process
                </button>
            </div>
        </form>
</section>