<section class="allGetherInfo">

    <div fxLayout="column" fxLayoutAlign="start">

        <h2 class="text-center m-0">Thank your for filling out our Merchant Boarding Process.</h2>
        <h2 class="text-center">Please <span color="teal-300">Review</span> details before <span>Submitting</span></h2>

        <h3 class="text-uppercase text-bold">Merchant Info  <mat-icon class="pointer">edit</mat-icon></h3>
        <mat-list>
            <mat-list-item>
               <h4 matLine>sdsd</h4>
               <h4 class="text-bold">sdsd</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h4 matLine>sdsd</h4>
                <h4 class="text-bold">sdsd</h4>
             </mat-list-item>
             <mat-divider></mat-divider>
         </mat-list>

         <h3 class="text-uppercase text-bold">Business Detail  <mat-icon class="pointer">edit</mat-icon></h3>
         <mat-list>
             <mat-list-item>
                <h4 matLine>sdsd</h4>
                <h4 class="text-bold">sdsd</h4>
             </mat-list-item>
             <mat-divider></mat-divider>
             <mat-list-item>
                 <h4 matLine>sdsd</h4>
                 <h4 class="text-bold">sdsd</h4>
              </mat-list-item>
              <mat-divider></mat-divider>
          </mat-list>

        <div fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center" fxLayout="column" fxLayoutAlign="space-between stretch">
            <button mat-raised-button matStepperPrevious class="my-4" color="accent" [ngClass.sm]="'mr-4'" [ngClass.gt-sm]="'mr-4'"
            aria-label="Previous">
                Previous
            </button>
            <button mat-raised-button class="my-4" [ngClass.sm]="'ml-4'" [ngClass.gt-sm]="'ml-4'" color="accent" 
                aria-label="Next" (click)="submit()">
                Submit
            </button>
        </div>
    </div>


</section>



