.setting-make-sale{
    fieldset{
        border-radius: 3px;
        border: 1px solid #eee;
        form{
            section{
                mat-checkbox{
                    width: 0px;
                }
            }
   
        }
    }


}