<section class="setting-make-sale">
    <div class="outer-layer p-20">
        <form fxLayout="column" fxLayoutAlign="start"
        fxFlex="1 0 auto" name="form" [formGroup]="makeSaleSettingForm">
    
            <div fxLayout.sm="row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutAlign.sm="space-between center" fxLayoutAlign.gt-sm="space-between center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                    <mat-label>Merchant Name</mat-label>
                  <mat-select formControlName="MerchantId" (selectionChange)="onMerchantSelect()">
                    <mat-option *ngFor="let item of merchants" [value]="item.MerchantId">{{item?.MerchantAccountSetup?.MerchantUserName}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pl-4'" [ngClass.gt-sm]="'pl-4'">
                    <mat-label>Merchant Location</mat-label>
                    <mat-select formControlName="LocationId" (selectionChange)="onSelectMerchantLocation()">
                        <mat-option *ngFor="let item of locations" [value]="item.LocationId">{{item.DisplayName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- <ng-container *ngIf="makeSaleSettingForm.controls.LocationId.value">
                <section [@fadeInOut]>
                <div class="mat-card p-24 mb-16" 
                fxLayout ="row wrap"  
                fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center start" fxLayoutAlign="start" >
                        <mat-checkbox class="my-4" fxFlex="25" 
                        fxFlex.sm="50" fxFlex.lt-sm="100" formArrayName="SaleSetting"
                        *ngFor="let item of makeSaleSettingForm.get('SaleSetting'); let i = index;"> 
                        Cardholder Name
                       </mat-checkbox>
                </div>
    
                <div fxLayout.sm="row" fxLayoutAlign.sm="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center center" fxLayout="column" fxLayoutAlign="space-between stretch" [ngClass.sm]="'mt-24'">
                    <button mat-raised-button class="my-4 accent-fg accent-alpha-bg" [ngClass.sm]="'mr-4'" [ngClass.gt-sm]="'mr-4'"
                    aria-label="Reset">
                    Reset
                    </button>
                    <button mat-raised-button class="my-4" [ngClass.sm]="'ml-4'" [ngClass.gt-sm]="'ml-4'" color="accent" aria-label="save">
                    Save
                    </button>
                </div>
               </section>
            </ng-container> -->


      </form>
    </div>
</section>