<section class="bottomSheet">
    <ng-template [ngIf]="isOpen" >
            <div class="overlay" (click)= "closeDrawer()"></div>
            <section class="sheet-body" [@slideInBottom]>
                <section class="search mt-20" fxLayout="row">
                    <mat-form-field appearance="outline" fxFlex="100" >
                        <mat-label>{{drawerConfig.label}}</mat-label>
                        <input matInput #search>
                    </mat-form-field>
                </section>
                <section class="sheet-content" fxLayout="row wrap" fxLayoutWrap fxLayoutAlign="start">
                    <div class="item" fxLayout="row" fxLayoutAlign="start center" fxFlex.xs="100" fxFlex.gt-xs="50" fxFlex.gt-sm="20" fxFlex.sm="33" 
                    *ngFor="let obj of repeatingItems | filter : search.value" (click)="selectedItem(obj)"
                    [ngClass]="{'selected': selectedId == obj.id}" [matTooltip]="obj?.name" [matTooltipPosition]="'above'" >
                        <span class="circle">{{obj?.name?.trim()?.charAt(0)?.toUpperCase()}}</span>
                        <span>{{obj?.name | truncate : truncateTextLength}}</span>
                    </div>
                </section>
                <button mat-icon-button color="accent" class="close-button" (click)="closeDrawer()">
                    <mat-icon>close</mat-icon>
                </button>
            </section>
    </ng-template>

    <button class="pickup-button" mat-flat-button color="accent" (click)="isOpen = true" *ngIf="!isOpen">
        <mat-icon>{{drawerConfig.icon}}</mat-icon>
        {{selectedName|| drawerConfig.purpose}}
    </button>

</section>