// Import Fuse core library

// Import app.theme.scss
@import "./assets/variables/_variables";
app-pages{
    width: 100%;
    .mat-tab-group{
      .mat-tab-label-active{
          color: $fgColor !important;
          background-color: rgba($color: $fgColor, $alpha: 0.05);
      }
      .mat-ink-bar{
          background-color: $fgColor !important;
      }
    }
    .mat-standard-chip{
      min-height: 26px;
    }
    .text-underline{
      border-bottom: 2px solid $fgColor;
      display: inline-block;
      padding: 5px 0
    }
    .outer-layer{
        border: 1px solid #eee;
        border-radius: 3px;
        .mat-form-field{
          textarea{
            resize: none;
          }
        }
    }
    .table-responsive {
        max-height: calc(100vh - 342px);
        overflow: auto;
        .mat-row{
          &:hover{
            transform: scale(1);
            box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.1);
            background-color:#f5f3f3 !important;
            transition: all 600ms 200ms  ease-out;
          }
        }
        .mat-cell,.mat-header-cell
          {
            padding: 5px;
            // text-align: center;
            // & *{
            //  justify-content: end;
            // }
          }
    }

}
.accent-alpha-bg{
    background-color: rgba($color: #f5f5f5, $alpha: 1) !important;
}

.mat-dialog-container {
  padding: 0 !important;
  .dialog-content-wrapper{
    div[mat-dialog-content]{
      max-height: calc(100vh - 200px);
      overflow-y: auto;
    }
      .title{
          font-weight: normal !important;
      }
  }
}

