// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

app-pages{
    width: 100%;
    .outer-layer{
        border: 1px solid #eee;
        border-radius: 3px;
    }
    .pointer{
        cursor: pointer;
    }
}