// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~saturn-datepicker/bundle.css';

app-pages{
    width: 100%;
    .mat-tab-group{
      .mat-tab-label-active{
          color: #f4511e !important; //dynamic
          background-color: rgba($color: #f4511e, $alpha: 0.05); //dynamic
      }
      .mat-ink-bar{
          background-color: #f4511e !important; //dynamic
      }
    }
    .mat-standard-chip{
      min-height: 26px;
    }
    .outer-layer{
        border: 1px solid #eee;
        border-radius: 3px;
        .mat-form-field{
          textarea{
            resize: none;
          }
        }
    }
    .table-responsive {
        max-height: calc(100vh - 342px);
        overflow: auto;
        .mat-row{
          &:hover{
            transform: scale(1);
            box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.1);
            background-color:#f5f3f3 !important;
            transition: all 600ms 200ms  ease-out;
          }
        }
        .mat-cell,.mat-header-cell
          {
            padding: 5px;
            // text-align: center;
            // & *{
            //  justify-content: end;
            // }
          }
    }

}
.accent-alpha-bg{
    background-color: rgba($color: #f5f5f5, $alpha: 1) !important; // dynamic
}

.mat-dialog-container {
  padding: 0 !important;
  .dialog-content-wrapper{
    div[mat-dialog-content]{
      max-height: calc(100vh - 200px);
      overflow-y: auto;
    }
      .title{
          font-weight: normal !important;
      }
  }
}
.mat-calendar-cell-semi-selected {
  background-color: #039be540 !important;
}
body.theme-default .mat-calendar-body-selected {
  background-color: #039be5 !important;
  color: white !important;
}

.mat-calendar-body-begin-range:not(.mat-calendar-body-end-range) {
  border-radius: 100% 0 0 100% !important;
  background-color: #039be5 !important;
}
.mat-calendar-body-end-range:not(.mat-calendar-body-begin-range) {
  border-radius: 0 100% 100% 0 !important;
  background-color:  #039be5 !important;
}

