<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title">Send Merchant Link</span>
            <button mat-icon-button  aria-label="Close dialog" (click)="_dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24">
        <div fxLayout="row" fxLayoutAlign="end" class="Cursorpointer">
            <button mat-icon-button  aria-label="CC" (click)="showCC = true" *ngIf="!showCC">Cc</button>
            <button mat-icon-button  aria-label="BCC" (click)="showBCC = true" *ngIf="!showBCC ">Bcc</button>
        </div> 
        <form name="emailForm" fxLayout="column"  [formGroup]="emailForm">
            <mat-form-field appearance="outline">
                <mat-label>To</mat-label>
                <input type="email" matInput formControlName="SendTo"  required>  
            </mat-form-field> 
            <mat-form-field appearance="outline" *ngIf="showCC">
                <mat-label>CC</mat-label>
                <input type="email" matInput formControlName="Cc" >  
            </mat-form-field> 
            <mat-form-field appearance="outline" *ngIf="showBCC">
                <mat-label>Bcc</mat-label>
                <input  type="email" matInput formControlName="Bcc">  
            </mat-form-field> 
            <mat-form-field appearance="outline">
            <mat-label>Subject</mat-label>
            <input matInput formControlName="Subject" readonly required>  
            </mat-form-field>  
            <mat-form-field appearance="outline" fxFlex.gt-sm="50" fxFlex.sm="50" [ngClass.sm]="'pr-4'" [ngClass.gt-sm]="'pr-4'">
                <mat-label>Message</mat-label>
                <textarea matInput rows="5" readonly>
          Hello,

          Thank you for signing up on Paynomix Inc. You’re almost ready to go! 
          Please fill out your application to complete the boarding process by
          clicking the following link.
          Launch Application
          We appreciate the opportunity to work with you.
          Paynomix Team.
                </textarea> 
            </mat-form-field>

        </form>
    </div>

    <div mat-dialog-actions class="px-24 py-12" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button class="mr-8 accent-alpha-bg" aria-label="CLOSE" (click)="_dialogRef.close()">
            Close
        </button>    
        <button mat-raised-button color="accent" class="save-button" aria-label="SAVE" (click)="sendEmail()">
            Send
        </button>
    </div>
</div>
