<section class="settings w-100-p">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Basic Information" *ngIf="basicInfoVisibility">
            <app-basic-info></app-basic-info>
        </mat-tab>
        <mat-tab label="Make A Sale">
            <app-general-setting></app-general-setting>
        </mat-tab>
        <mat-tab label="Api Key">
            <app-api-key></app-api-key>
        </mat-tab>
        <!-- <mat-tab label="Plg Management">
            <app-plg-management></app-plg-management>
        </mat-tab> -->
    </mat-tab-group>
</section>