<section class="restricted-block p-40">
    <div class="accent mt-20">
        <div class="p-40">Users coming from specific IP addresses or subnets can be blocked.</div> 
    </div>
    <mat-divider class="mt-20"></mat-divider>
    <div class="mat-card p-20">
    <div fxLayout="column" >
        <div fxFlex>
            <h3> <b>Lock Controls </b> </h3>
        </div>
        <mat-divider></mat-divider>
    <div fxFlex fxLayout="row" class="mt-20">
        <div fxFlex="30">    
         Lock
        </div>
        <div fxFlex>
            <mat-checkbox>Merchants</mat-checkbox>
        </div>
    </div>
       <div fxLayout="row" class="my-4" fxLayoutAlign="center">
        <button mat-raised-button color="accent"
        aria-label="save" >
        Save
       </button>
    </div>

    

    <mat-divider  class="my-4"></mat-divider>
    <div fxFlex>
        <h3> <b>IP Blocking </b> </h3>
        <mat-divider ></mat-divider>
    </div>

    <div fxFlex fxLayout="row" class="mt-20">
        <div fxFlex="30">    
         Status
        </div>
        <div fxFlex>
            <mat-checkbox>Active</mat-checkbox>
            <mat-checkbox class="mx-4">Inactive</mat-checkbox>
        </div>
    </div>

        <div fxLayout="row" class="my-4" fxLayoutAlign="center">
         <button mat-raised-button color="accent"
         aria-label="save" >
         Update
        </button>
     </div>



     <mat-divider  class="my-4"></mat-divider>
     <div fxFlex>
         <h3> <b>Search For Block IPs </b> </h3>
         <mat-divider ></mat-divider>
     </div>
 
     <div fxFlex fxLayout="row" class="mt-20">
         <div fxFlex="30">    
          IP Address
         </div>
         <div fxFlex>
            <mat-form-field >
                <mat-label>IP Address </mat-label>
                <input matInput type="text" >
              </mat-form-field>

         </div>
     </div>
 
         <div fxLayout="row" class="my-4" fxLayoutAlign="center">
          <button mat-raised-button color="accent"
          aria-label="save" >
          Search
         </button>
      </div>


    <mat-divider  class="my-4"></mat-divider>
    <div fxFlex>
        <h3> <b>Add New IP </b> </h3>
        <mat-divider ></mat-divider>
    </div>
    <div fxFlex fxLayout="row" class="mt-20">
     <div fxFlex="30">    
         IP Address 
    </div>
        <div fxFlex>
         <mat-form-field >
             <mat-label>IP Address </mat-label>
             <input matInput type="text" >
           </mat-form-field>
        </div>
        </div>
        <div fxLayout="row" class="my-4" fxLayoutAlign="center">
         <button mat-raised-button color="accent"
         aria-label="save" >
         Add IP
        </button>
     </div>
    <mat-divider  class="my-4"></mat-divider>
    <div fxFlex>
        <h3> <b>List All Blocked IPs</b> </h3>
        <mat-divider ></mat-divider>
    </div>
    <div fxFlex fxLayout="row" class="mt-20">
       --------------------------------
           </div>
           <div fxLayout="row" class="my-4" fxLayoutAlign="center">
            <button mat-raised-button color="accent"
            aria-label="save" >
           Display All
           </button>
        </div>
</div>
    </div>
<section>